[2019-11-04 13:28] takahirom opened #26 "Apply speaker screen screen design"
## Overview (Required)
Title says everything.
## Links
https://gallery.io/projects/MCHbtQVoQ2HCZUEdl_U4xl-e/files/MCEJu8Y2hyDScQe5xgnZZ5ZxTiMoNvX2YD8

[2019-11-04 13:28] takahirom opened #29 "Apply sponsor screen design"
## Overview (Required)
Title says everything.
## Links

[2019-11-04 13:28] takahirom opened #38 "Apply session feedback screen design"
## Overview (Required)
Title says everything.
## Links

[2019-11-04 13:28] takahirom opened #40 "Implement about droidkaigi screen without design"
## Overview (Required)
Title says everything.
## Links

[2019-11-04 13:28] takahirom opened #41 "Apply about droidkaigi screen design"
## Overview (Required)
- Title says everything.
- This issue blocked by #40

## Links

[2019-11-04 13:28] takahirom opened #43 "Implement floor map screen without design"
## Overview (Required)
Title says everything.
## Links

[2019-11-04 13:28] takahirom opened #44 "Apply floor map screen design"
## Overview (Required)
- Title says everything.
- This issue blocked by #43

## Links

[2019-11-04 13:28] takahirom opened #47 "Apply settings screen design"
## Overview (Required)
Title says everything.
## Links

[2019-12-01 04:42] takahirom opened #62 "Bottom app bar padding is not exist on Android 5.0"
![image](https://user-images.githubusercontent.com/1386930/69909584-56815380-1440-11ea-947a-c1c15be17837.png)

[2020-01-11 04:22] roana0229 opened #101 "Remove SearchView start margin"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Remove `SearchView` start margin.
- Fix hint start position.

<img src=https://user-images.githubusercontent.com/6636072/72198706-a823f180-3474-11ea-9dfb-4a44406acb7e.png  width=50%>

 ## Links

-

[2020-01-11 05:20] NUmeroAndDev opened #103 "Navigation bar color disappears when switching DarkTheme"
**Overview (Required)**
- Happen on the session detail screen.

**Steps To Reproduce**

**Expected behavior**
Same color as BottomAppBar.

**Screenshots**

<img src="https://user-images.githubusercontent.com/13705006/72199263-eae9c780-347c-11ea-898a-b6c0f4a50d32.png" width="300px">

**Env:**
 - Device: Pixel3 XL
 - OS: 10.0
 - App Version or the branch master

**Additional context**

[2020-01-11 05:32] NUmeroAndDev opened #104 "When BottomSheet is expanded, top left corner is not rounded"
## Kind (Required)

Choose the suitable template if exists.

- Other

 ## Overview (Required)

- Title says it all.

 ## Screenshot
<img src="https://user-images.githubusercontent.com/13705006/72199409-f9d17980-347e-11ea-9f70-f7c8bc3a090f.png" width="300px">

[2020-01-11 06:21] roana0229 opened #107 "Add search item index and sort items."
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add search item index of speaker and session.
  - The same index is displayed only once.
  - The index is displayed in the same way as the time in the timetable.
- Sort by speaker name, session title.

<img src=https://user-images.githubusercontent.com/6636072/72200041-c8a97700-3487-11ea-81a9-bccff673bd6a.png  width=50%>
<img src=https:

[2020-01-11 06:55] roana0229 opened #110 "Add search icon tap feedback"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add search icon tap feedback

<img src=https://user-images.githubusercontent.com/6636072/72200264-c4cb2400-348a-11ea-9b4a-3e19790e4653.png  width=50%>

 ## Links

-

[2020-01-11 07:00] roana0229 opened #111 "Add menu icon tap feedback"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add menu icon tap feedback
- Change highlight to the same color as the tab highlight

<img src=https://user-images.githubusercontent.com/6636072/72200317-81bd8080-348b-11ea-8ca9-e4fda68280cc.png  width=50%>

 ## Links

-

[2020-01-11 07:04] FujiKinaga opened #112 "When BottomSheet is collapsed, sub header label should change."
## Kind (Required)

- Improvement

 ## Overview (Required)

- When the back layer is active, change sub header design

 ## Links

- https://material.io/components/backdrop/

## Screenshot
Current | Design
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72200312-5fc3fe00-348b-11ea-9a70-e81c0c029e35.png" width="300px" /> | <img src="https://user-images.githubusercontent.com/

[2020-01-11 07:06] roana0229 opened #113 "Change icon color on SearchView"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Change right icon color on SearchView. change to `colorPrimary`.

<img src=https://user-images.githubusercontent.com/6636072/72200359-e7aa0800-348b-11ea-82da-7d3c778b040b.png  width=50%>
<img src=https://user-images.githubusercontent.com/6636072/72200417-a108dd80-348c-11ea-9faa-a1cb49963796.png  width=50%>

 ## Links

-

[2020-01-11 07:14] roana0229 opened #114 "Add bottom margin to search"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add bottom margin to search.  See red rectangle.

<img src=https://user-images.githubusercontent.com/6636072/72200461-268c8d80-348d-11ea-828b-815608a170ec.png  width=50%>

 ## Links

-

[2020-01-11 07:18] roana0229 opened #115 "Contributor list screen"
## Overview (Required)

 - We should implement contributor list screen
 - I want this feature early for contributor motivation.
![image](https://user-images.githubusercontent.com/1386930/72246256-a81f1f80-3635-11ea-9307-533317cbd8c4.png)

## Links

-

[2020-01-11 07:19] FujiKinaga opened #116 "Add emptyView in my favorite sessions screen"
## Kind (Required)

- Other

 ## Overview (Required)
- add empty view when you have not favorite session yet
- please confirm `BottomSheetFavoriteSessionsFragment.kt`

## Screenshot
<img src="https://user-images.githubusercontent.com/27717556/72200515-ab77a700-348d-11ea-96a9-0183602738f5.png" width="300px">

[2020-01-11 07:20] takahirom opened #117 "Sessions are not displayed on Android 5.0"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/72200544-175a0f80-348e-11ea-8611-e960a94d3ca7.png)

 ## Links

- Is this related?? https://github.com/DroidKaigi/conference-app-2020/blob/e1db7b4899bcdad27b3f50ad7fb7d68fade81129/feature/session/src/main/java/io/github/droidkaigi/confsched2020/session/ui/BottomSheetDaySessionsFr

[2020-01-11 07:23] takahirom opened #118 "Filters are not exists on Android 5.0"
## Kind (Required)

- Improvement

 ## Overview (Required)

-

![image](https://user-images.githubusercontent.com/1386930/72200582-a109dd00-348e-11ea-8d36-e31ad91aff26.png)

[2020-01-11 07:24] yurihondo opened #119 "Should adjust the initial position of a time text at session list screen"
## Kind (Required)
Improvement

 ## Overview (Required)
When scrolling up the list, there is a margin to go up slightly, so it is better to adjust the initial position of the time text.
<img src="https://user-images.githubusercontent.com/33515193/72200566-5e480500-348e-11ea-9533-540413c8a1e1.gif" width="320px">

 ## Links
none

[2020-01-11 07:33] yurihondo opened #120 "Should disable clickable labels at session detail screen"
## Kind (Required)
Improvement

 ## Overview (Required)
![screencast 2020-01-11 16-28-57](https://user-images.githubusercontent.com/33515193/72200705-f4c8f600-348f-11ea-8aa4-1e00e9f246af.gif)

 ## Links
none

[2020-01-11 07:33] roana0229 opened #121 "Status bar color disappears when switching DarkTheme"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Occurs when changed from dark to light

<img src=https://user-images.githubusercontent.com/6636072/72200687-c8ad7500-348f-11ea-9da9-6297cf12a61f.gif  width=50%>
<img src=https://user-images.githubusercontent.com/6636072/72200698-dd8a0880-348f-11ea-8936-fde6c9bb8c70.png  width=50%>

 ## Links

-

[2020-01-11 07:34] takahirom opened #122 "Favorite is not applied on Android 5.0"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably the favorite state applied to session, but not shown.
![favorite_not_applied](https://user-images.githubusercontent.com/1386930/72200711-fe525e00-348f-11ea-9994-38a87fae9c6c.gif)

 ## Links

-

[2020-01-11 07:44] yurihondo opened #124 "The language of the announcement should also change dynamically when switching languages"
## Kind (Required)
Improvement

 ## Overview (Required)
I think that the language of the announcement should also change dynamically when switching devices language.
<img src="https://user-images.githubusercontent.com/33515193/72200812-2e4e3100-3491-11ea-8ba4-b397258ae90a.gif" width="320px">

 ## Links
none

[2020-01-11 07:46] FujiKinaga opened #126 "If you back gestured or pressed when front layer is inactive, activate it"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)
- when user complete filtering session by tags, some users may do back action.
    - If user viewing session screen with no back stacks, app will close.
- `inactive front layer` is `BottomSheet expanded`
- `active front layer` is `BottomSheet collapsed`

 ## Links

- https://material.io/components/backdrop/#behavior

[2020-01-11 07:56] takahirom opened #127 "Filter vertical margin is required"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/72201027-4626b480-3493-11ea-97fd-b9ae9ed9a775.png)

![image](https://user-images.githubusercontent.com/1386930/72200991-05c73680-3493-11ea-9511-7c4fb8202a54.png)

[2020-01-11 07:58] takahirom opened #128 "Wrong touch feedback for TabLayout"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I think it should be square ripple feedback.
![touch_feedback](https://user-images.githubusercontent.com/1386930/72201063-9867d580-3493-11ea-975e-e67de6f49a94.gif)

[2020-01-11 08:03] takahirom opened #129 "Add named argument for StartTimeText"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please add named arguments for StartTimeText
- It is very easy 😄

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/blob/c4541d4948c0f8eef238f1e02ce7842e3ac4a9a8/feature/session/src/main/java/io/github/droidkaigi/confsched2020/session/ui/widget/SessionsItemDecoration.kt#L75-L77

[2020-01-11 08:08] takahirom opened #130 "Add filter margin start and end"
## Kind (Required)

- Improvement

 ## Overview (Required)

![image](https://user-images.githubusercontent.com/1386930/72201206-eb8e5800-3494-11ea-94cb-d00aff2d1c09.png)

 ## Links

- We can use guideline 😄  https://github.com/DroidKaigi/conference-app-2020/blob/7a738455f7beefd7beb9db77b755298da6af9c4a/feature/session/src/main/res/layout/fragment_sessions.xml#L31-L44

[2020-01-11 08:11] FujiKinaga opened #131 "Add tap feedback navigating speaker detail"
## Kind (Required)

- Improvement

 ## Overview (Required)

- add tap feedback when tap user view for navigating.
- you can navigate there if set `app:destination="@id/speaker"` at action tag in `navigation.xml`

## Screenshot
<img src=https://user-images.githubusercontent.com/27717556/72201252-5049b280-3495-11ea-9565-037db5039311.png  width="300px">

[2020-01-11 08:19] takahirom opened #132 "Place holder color should be colorPrimary on Android 5.0"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Place holder color is should be colorPrimary on Android 5.0

![image](https://user-images.githubusercontent.com/1386930/72201347-57bd8b80-3496-11ea-9242-f1ed5fcf38f3.png)

 ## Links

-

[2020-01-11 08:25] takahirom opened #133 "Key board is not hidden when back from search by button"
## Kind (Required)

- Improvement

 ## Overview (Required)

- If you move screen while the keyboard is displayed, the keyboard will not be hidden.
- Hide keyboard when moved.

![keyboard_not_hidden_when_back](https://user-images.githubusercontent.com/1386930/72201433-3dd07880-3497-11ea-85e7-3ae806e4a7e0.gif)

 ## Links

-

[2020-01-11 08:35] takahirom opened #134 "iOS App session list"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Probably you can access sessions now by Kotlin Native
https://github.com/DroidKaigi/conference-app-2020/blob/master/ios-base/DroidKaigi%202020/ViewController.swift#L17
- You can introduce RxSwift etc. You can design iOS App Architecture 😄

 ## Links

-

[2020-01-11 08:38] takahirom opened #135 "iOS App introduce Material Component"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- It can not be exactly the same, but it can be closer to the Android app design. You can use the Android app design.

 ## Links

- https://github.com/material-components/material-components-ios

[2020-01-11 08:47] takahirom opened #136 "iOS App announcement list"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- You can fetch announcment `ApiComponentKt.generateDroidKaigiApi().getAnnouncementsAsync`
- https://github.com/DroidKaigi/conference-app-2020/blob/c4541d4948c0f8eef238f1e02ce7842e3ac4a9a8/ios-base/DroidKaigi%202020/ViewController.swift#L17
![image](https://user-images.githubusercontent.com/1386930/72201734-7756b300-349a-11ea-88

[2020-01-11 08:55] takahirom opened #137 "iOS App floor map"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Since the event venue is large, I think it would be more convenient to have a floor map.

 ## Links

-

[2020-01-11 12:27] yurihondo opened #138 "The navigation bar transparency is lost"
## Kind (Required)
Improvement

 ## Overview (Required)
The navigation bar loses transparency when reconfigured screen by settings are changed.
There is almost no user impact, however I'm glad if improve it.

<img src="https://user-images.githubusercontent.com/33515193/72204186-86e4f480-34b8-11ea-96b8-b9cf9717baf4.gif" width="320px">

 ## Links
none

[2020-01-11 13:22] yurihondo opened #140 "Should adjust a speaker view touch area at the session list screen"
## Kind (Required)
Improvement

 ## Overview (Required)
I think that should adjust the touch area of the speaker view because occurs many touch miss.
<img src="https://user-images.githubusercontent.com/33515193/72204854-bcd9a700-34bf-11ea-92c0-0228d8d2ae27.gif" width="320px">

 ## Links
none

[2020-01-11 14:11] yurihondo opened #141 "Should adjust line spacing at session detail screen"
## Kind (Required)
Improvement

 ## Overview (Required)
I think that should adjust line spacing at session detail screen.
<img width="333" alt="Android Emulator - Pixel_3a_API_29:5554 2020-01-11 22-27-33" src="https://user-images.githubusercontent.com/33515193/72205539-a5062100-34c7-11ea-91dd-382f443f8424.png">

 ## Links
none

[2020-01-12 01:24] NUmeroAndDev opened #143 "Remove Shopify's livedata-ktx dependency"
## Kind (Required)

Choose the suitable template if exists.

- Other

 ## Overview (Required)

- Remove [livedata-ktx](https://github.com/Shopify/livedata-ktx) dependency because it is not used.
Please remove it from README too.

 ## Links

-

[2020-01-12 04:35] takahirom opened #144 "Show notification when my session starts"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says everything ⏲
- Probably we can use implementation of 2019.

 ## Links

- https://github.com/DroidKaigi/conference-app-2019/pull/437

[2020-01-12 04:43] takahirom opened #146 "Add deeplink support"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We should add a deep link to here for the announcement screen.
- I want to use the navigation component deep link support
- Probably you can check it like this

[code]

[2020-01-12 04:51] takahirom opened #147 "Use DynamicNavHostFragment and DefaultProgressFragment"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably we can use it.
- Please try it 🚀

 ## Links

- https://developer.android.com/guide/navigation/navigation-dynamic

[2020-01-12 04:58] takahirom opened #148 "Introduce EmojiCompat support library"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We can use the EmojiCompat support library for Announcement, Session, Speaker 😄
- I want to use the EmojiCompat support library to title and details.

[2020-01-12 05:02] takahirom opened #149 "Introduce LeakCanary"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to check for leaks by introducing LeakCanary. 🐦

[2020-01-12 05:09] takahirom opened #150 "Show current time session when loading session first in Fragment"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We want to show the current time session when the conference starts 📜
- We want to scroll to the current session when first loading.
- I think we can add ViewModel property shouldScrollCurrentTime: LiveData<Boolean> = MutableLiveData(true). And when scroll to the current time, we can change that LiveData value

[2020-01-12 05:16] takahirom opened #151 "Need to switch tabs on day 2 on day 2"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says everything

[2020-01-12 05:23] takahirom opened #152 "Scroll to current time session when tapping tab"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably We can use tab reselect events. 📜

[2020-01-12 05:27] takahirom opened #153 "Fix fragment view leaks"
## Kind (Required)

- Improvement

 ## Overview (Required)

- When the Fragment is on the stack, it seems to be leaking because the DataBinding field of the Fragment exists 🦅
 - It's best to do this after fixing the issue in #149.

[2020-01-12 05:50] takahirom opened #154 "Add ViewModel test for session list screen"
## Overview (Required)
The title says everything. 💯
You can implement it in a similar way to SessionDetailViewModelTest.
https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/session/src/test/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/SessionDetailViewModelTest.kt

## Links
https://github.com/DroidKaigi/conference-app-2020/blob/ma

[2020-01-12 05:50] takahirom opened #155 "Add ViewModel test for session search screen"
## Overview (Required)
The title says everything. 💯
You can implement it in a similar way to SessionDetailViewModelTest.
https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/session/src/test/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/SessionDetailViewModelTest.kt

## Links
https://github.com/DroidKaigi/conference-app-2020/blob/ma

[2020-01-12 05:50] takahirom opened #157 "Add ViewModel test for speaker screen screen"
## Overview (Required)
The title says everything.
You can implement it in a similar way to SessionDetailViewModelTest.
https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/session/src/test/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/SessionDetailViewModelTest.kt

## Links
- https://github.com/DroidKaigi/conference-app-2020/blob/86

[2020-01-12 05:51] takahirom opened #158 "Add ViewModel test for sponsor screen"
## Overview (Required)
The title says everything. 💯
You can implement it in a similar way to SessionDetailViewModelTest.
https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/session/src/test/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/SessionDetailViewModelTest.kt

## Links
- https://github.com/DroidKaigi/conference-app-2020/blob/

[2020-01-12 05:51] takahirom opened #159 "Add ViewModel test for announcement screen"
## Overview (Required)
The title says everything. 💯
You can implement it in a similar way to SessionDetailViewModelTest.
https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/session/src/test/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/SessionDetailViewModelTest.kt

## Links
- https://github.com/DroidKaigi/conference-app-2020/blob/

[2020-01-12 05:51] takahirom opened #160 "Add ViewModel test for contributor list screen"
## Overview (Required)
The title says everything. 💯
You can implement it in a similar way to SessionDetailViewModelTest.
https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/session/src/test/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/SessionDetailViewModelTest.kt
Blocked by https://github.com/DroidKaigi/conference-app-2020/issues

[2020-01-12 06:17] takahirom opened #162 "Add a link from the BottomAppBar in the session details to the floor map"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Just open the FloorMapFragment. 🗺
![image](https://user-images.githubusercontent.com/1386930/72214884-797a4980-354e-11ea-9abe-e0b3a838b98f.png)

 ## Links

-

[2020-01-12 06:20] takahirom opened #163 "Make sessions available for calendaring"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It is more convenient to be able to register to Google Calendar.
![image](https://user-images.githubusercontent.com/1386930/72214919-07eecb00-354f-11ea-8b15-4f3820a92fe7.png)

 ## Links

-

[2020-01-12 06:29] takahirom opened #164 "Add presentation material for session detail"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Display a disabled link even if there is no material yet.
![image](https://user-images.githubusercontent.com/1386930/72214992-3faa4280-3550-11ea-9e70-1ccfaca2510f.png)

 ## Links

-

[2020-01-12 06:42] takahirom opened #165 "Enable to expand session details"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We should collapse session detail text 📜

- design
![image](https://user-images.githubusercontent.com/1386930/72215062-5f8e3600-3551-11ea-884e-befef557cc33.png)

 ## Links

-

[2020-01-12 06:51] takahirom opened #167 "Fix LocaledString in session detail"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything 😅
![image](https://user-images.githubusercontent.com/1386930/72215203-68800700-3553-11ea-9ea1-daebdb226688.png)

 ## Links

-

[2020-01-12 06:53] takahirom opened #168 "Use SharedElementTransition when transitioning to the Speaker screen."
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything 👝

 ## Links

-

[2020-01-12 07:11] takahirom opened #170 "Change to an easy-to-understand error message"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This is the current message. Probably we should use text as "Connection attempt failed. Please try again."
![image](https://user-images.githubusercontent.com/1386930/72215327-0e804100-3555-11ea-84d1-befa7a92e247.png)

 - You can change error messages here. https://github.com/DroidKaigi/conference-app-2020/blob/master/corecomponent/andro

[2020-01-12 07:14] takahirom opened #171 "Snackbar overlays the system UI"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably we should create a snack bar layout for showing a snack bar..? 🤔

-  ![image](https://user-images.githubusercontent.com/1386930/72215327-0e804100-3555-11ea-84d1-befa7a92e247.png)

 ## Links

-

[2020-01-12 11:35] takahirom opened #181 "Add auto link support for session detail"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/72218131-f0c5d280-357a-11ea-9842-8701a584450d.png)

 ## Links

- You can see implementation for a speaker detail for your reference https://github.com/DroidKaigi/conference-app-2020/blob/b6a92c302839309a53538807214aa7c967f96112/feature/session/src/main/res/layout/fragment_speake

[2020-01-12 11:37] takahirom opened #182 "Add Firebase Crashlytics"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please add firebase crashlytics

 ## Links

-

[2020-01-13 08:38] takahirom opened #186 "Reduce image size of README"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Current images are uploaded in
https://github.com/DroidKaigi/conference-app-2020/issues/74#issuecomment-573555849

- Those images are bigger than specified by the width of the `img` tag.
- I want to reduce the size of it

 ## Links

-

[2020-01-13 09:55] takahirom opened #191 "Adaptive Icon"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is a design in Figma !!
https://github.com/DroidKaigi/conference-app-2020#design

[2020-01-13 13:19] takahirom opened #195 "Remove JvmStatic for `@Provide` methods"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably now we can delete it 😄

 ## Links

- https://youtu.be/o-ins1nvbDg?t=623

[2020-01-13 13:41] takahirom opened #196 "Transition with fade"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Android dev summit app seems to be faded at the time of screen transition. Can we do the same?

 ## Links

- https://play.google.com/store/apps/details?id=com.google.samples.apps.adssched&hl=ja

[2020-01-13 14:12] takahirom opened #198 "Add shadow when scroll sessions"
## Kind (Required)

- Improvement

 ## Overview (Required)

- When scroll session, we would like to add shadow to here 📜
![image](https://user-images.githubusercontent.com/1386930/72262342-1b3a8d00-365a-11ea-982b-1436cc6117df.png)

 ## Links

-

[2020-01-13 14:16] takahirom opened #199 "Add padding to TabLayout"
## Kind (Required)

- Improvement

 ## Overview (Required)

- 📑
![image](https://user-images.githubusercontent.com/1386930/72262653-b29fe000-365a-11ea-9fb2-8d9433ad153a.png)

design
![image](https://user-images.githubusercontent.com/1386930/72262714-c9463700-365a-11ea-8218-7d78163f83c8.png)

 ## Links

-

[2020-01-13 14:26] takahirom opened #201 "Session crap or thumbs up feature"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- We may adopt a thumbs-up or crap function this year instead of a session survey for several reasons.
- What to do with the UI?
- Is it better to use something like Distributed Counter?
https://firebase.google.com/products/extensions/firestore-counter

 ## Links

-

[2020-01-13 14:41] takahirom opened #202 "Blink time when favorite"
## Kind (Required)

- Improvement

 ## Overview (Required)

- ⏲
![like_time](https://user-images.githubusercontent.com/1386930/72264431-1b3c8c00-365e-11ea-9e01-6500d5f8fb8b.gif)

 ## Links

-

[2020-01-13 14:55] takahirom opened #203 "When landscape, we can not show the navigation drawer"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We should apply window inset
![image](https://user-images.githubusercontent.com/1386930/72265462-e6313900-365f-11ea-8731-4ba7b0ccac7d.png)

 ## Links

-

[2020-01-14 13:12] takahirom opened #217 "Fix crash when opening contributor and settings"
## Kind (Required)

- Other

 ## Overview (Required)

-  Probably we should upload aab instead of apk to deploy gate 🚀

 ## Links

-

[2020-01-14 13:29] kumamotone commented on #133
🙋‍♂

[2020-01-14 13:33] phicdy commented on #195
:raising_hand_man:

[2020-01-14 13:36] takahirom commented on #195
Thanks for taking the issue immediately!
Assigned!

[2020-01-14 13:38] NUmeroAndDev commented on #128
🙋‍♂

[2020-01-14 13:38] NUmeroAndDev commented on #199
🙋‍♂

[2020-01-14 13:39] yt8492 commented on #202
This issue means time should not be blink when user favorite, right? Time should be invisible?
(I want to make it clear. I worry about I'm misunderstanding issue)

[2020-01-14 13:39] Luecy1 commented on #101
🙋

[2020-01-14 13:45] #26 closed

[2020-01-14 13:45] STAR-ZERO commented on #217
How do you make the apk file?  It seems dynamic feature modules are not included in the apk file.
If you want to use the apk file, you should use bundletool with `--mode=universal` flag to create the apk file.

I strongly recommend using aab. 💪

[2020-01-14 13:47] #29 closed

[2020-01-14 13:50] roana0229 commented on #101
@Luecy1 Thanks! assigned.

[2020-01-14 13:51] rmakiyama commented on #196
🙋‍♂

[2020-01-14 13:53] takahirom commented on #202
Thanks! I want to remome blink the time text!

[2020-01-14 13:56] yt8492 commented on #202
Thank you for replying! I will try this issue.

[2020-01-14 13:57] takahirom commented on #196
Thanks! Assigned!

[2020-01-14 13:58] takahirom commented on #202
Thanks! Assigned

[2020-01-14 13:59] roana0229 commented on #133
@kumamotone Thanks, assigned!

[2020-01-14 14:00] takahirom commented on #128
Thanks!!

[2020-01-14 14:00] takahirom commented on #199
🙏

[2020-01-14 14:01] MasayukiSuda commented on #186
🙋‍♂

[2020-01-14 14:06] takahirom commented on #186
Assigned🙏🙏🙏

[2020-01-14 14:10] STAR-ZERO commented on #217
I forgot to tell you. Even using the aab and uploading the DeployGate is not working dynamic feature module. Running dynamic feature module is only on play store(test track or internal app sharing).

[2020-01-14 14:12] Hunachi commented on #116
🙋

[2020-01-14 14:13] TomoyaShibata commented on #149
🙋‍♂

[2020-01-14 14:13] tarumzu commented on #182
🙋‍♂

[2020-01-14 14:14] TomoyaShibata commented on #153
🙋‍♂

[2020-01-14 14:14] takahirom commented on #217
Thanks for the details!  I think uploading to both.

[2020-01-14 14:14] takahirom commented on #217
Anyway, it seems good to make a universal apk now.  If anyone wants to do something, I would be grateful if you could raise your hand.

[2020-01-14 14:17] takahirom commented on #116
Assigned🙏

[2020-01-14 14:18] NUmeroAndDev commented on #149
@TomoyaShibata
Thanks! Assigned 🙏

[2020-01-14 14:18] takahirom commented on #149
Assigned :eagle:

[2020-01-14 14:20] NUmeroAndDev commented on #153
Assigned 👍

[2020-01-14 14:21] NUmeroAndDev commented on #182
Thanks! Assigned 🙏

[2020-01-14 14:35] #128 closed

[2020-01-14 14:35] #199 closed

[2020-01-14 14:37] masaibar commented on #181
🤚

[2020-01-14 14:37] n-seki commented on #168
:raising_hand:

[2020-01-14 14:38] takahirom commented on #168
Assigned 👍

[2020-01-14 14:38] roana0229 commented on #181
Thanks, assigned!

[2020-01-14 14:44] kako351 commented on #141
🙋‍♂

[2020-01-14 14:44] roana0229 commented on #141
Assigned 👍

[2020-01-14 14:54] #149 closed

[2020-01-14 15:00] sadashi-ota commented on #127
🙋‍♂

[2020-01-14 15:00] roana0229 commented on #127
Assigned 👍

[2020-01-14 15:08] imsaku commented on #140
Can I try to do this?🙋

[2020-01-14 15:09] yurihondo commented on #140
Thanks Assigned!

[2020-01-14 15:10] takahirom commented on #140
Of course🔥

[2020-01-14 15:14] kkt-yu commented on #162
🙋

[2020-01-14 15:15] yurihondo commented on #162
Thanks Assigned 🙏

[2020-01-14 15:21] #181 closed

[2020-01-14 15:22] felix925 commented on #170
🤚

[2020-01-14 15:24] yurihondo commented on #170
Assigned 🙏

[2020-01-14 15:52] felix925 commented on #170
Should I look for other issues?

[2020-01-14 15:56] shinya-takano commented on #167
try now...

[2020-01-14 15:58] takahirom commented on #167
Thanks!Assigned :abcd:

[2020-01-14 16:00] felix925 commented on #170
Can I solve this problem?
Or should I contribute to other issues in this app?

[2020-01-14 16:05] takahirom commented on #170
If you can not this issue, you can give up anytime :wink:

[2020-01-14 16:09] #182 closed

[2020-01-14 16:09] Corvus400 opened #229 "Wrong speakers appear after fast scrolling"
**Overview (Required)**
- Title says everything.

**Steps To Reproduce**

1. Lunch App.
2. Fast scroll on DAY1 or DAY2. (Up or Down)
4. Tap a any speaker name label.

**Expected behavior**
Display information is written in name speaker.
(ラベルに書かれている名前のスピーカーについての情報が表示されます)

**Screenshots**

![ezgif-6-18701df94f13](https://user-images.githubusercontent.com/13657682/72358938-b9992200-3730-11ea-8c76-d7

[2020-01-14 16:10] nishinotakuma commented on #113
🙋

[2020-01-14 16:12] takahirom commented on #113
Assigned🔎

[2020-01-14 16:12] felix925 commented on #170
Thank you. I solving it soon.

[2020-01-14 16:18] futabooo opened #233 "Need logo.png for each resolution"
## Kind (Required)
- Other

 ## Overview (Required)
- logo.png is Jaggy other  xhdpi resolution because use only xhdpi

<img src="https://user-images.githubusercontent.com/944185/72361394-03c7d680-3724-11ea-98ee-bbd7f3c88353.png" width="320">

 ## Links

-

[2020-01-14 16:32] #143 closed

[2020-01-14 16:36] #167 closed

[2020-01-14 16:39] ham-burger commented on #130
🙋‍♂

[2020-01-14 16:42] takahirom commented on #130
Assigned↔️

[2020-01-14 16:50] 5hyn3 commented on #119
🙋‍♂

[2020-01-14 16:52] roana0229 commented on #119
Assigned 👍

[2020-01-14 17:04] #127 closed

[2020-01-14 17:19] #140 closed

[2020-01-14 17:46] takahirom commented on #217
I tried to make universal apk. But it is failed 😭
java -jar bundletool.jar build-apks --mode=universal --bundle android-base/build/outputs/bundle/debug/android-base-debug.aab --output universal.apks

[code]

[2020-01-14 17:56] takahirom commented on #217
👀
https://r8.googlesource.com/r8/+/111e20dc109e4423ce8a19e690b38672fee722f8%5E%21/

[2020-01-14 17:58] Takafumi-Orita commented on #114
🙋

[2020-01-14 17:59] takahirom commented on #114
Assigned 👍

[2020-01-14 18:01] kyanro opened #242 "Add project level dictionary for suppress typo"
## Kind (Required)
- Other

 ## Overview (Required)
Android Studio detects many typo in Dep.kt.
But I think, almost words are correct.
I want to add project level dictionary for suppress typo.

`.idea/dictionaries/Project.xml`
[code]

[2020-01-14 18:09] kyanro commented on #242
🙋

[2020-01-14 18:13] takahirom commented on #242
Thank you for creating and doing it 😄

[2020-01-14 18:43] ypresto commented on #233
![image](https://user-images.githubusercontent.com/400558/72371819-7ba7f800-3748-11ea-867c-5e79cc153dc7.png)

Need a frame (not a group) with right width/height (png file is 236x67) in Figma, or exporting and using it end up with out of alignment of logo (because it'll be without right margin).

[2020-01-14 18:45] rmakiyama opened #245 "defines the default animation"
## Kind (Required)
- Other

 ## Overview (Required)
- defines the default animation for navigation component.

[2020-01-14 18:46] #196 closed

[2020-01-14 18:53] ypresto commented on #233
We can use VectorDrawable for every drawable as our minSdkVersion is 21!

[2020-01-14 18:56] takahirom commented on #233
What doesn't look good with this method?
![image](https://user-images.githubusercontent.com/1386930/72373084-e5c19c80-374a-11ea-93c1-02bddc2ea7f0.png)

[2020-01-14 19:02] #242 closed

[2020-01-14 19:14] ypresto commented on #233
Purple line (304x167) corresponds to unrelated `Account Switcher` symbol instance in another tree of a group.

![image](https://user-images.githubusercontent.com/400558/72373797-5917de00-374c-11ea-8e85-58aeb6a783c4.png)

Export 2 Layers button (in your Screen Shot) will write two of PNG files, one is Account Switcher, and another is Logo.png which has 230x61 = without margin. (see below, border is

[2020-01-14 19:35] ypresto commented on #229
🙌

[2020-01-14 19:37] takahirom commented on #229
Assigned!

[2020-01-14 23:37] syo-sa1982 commented on #165
🙋

[2020-01-14 23:40] yurihondo commented on #165
Thanks Assigined 🙇

[2020-01-15 00:06] rnitame commented on #131
🙋‍♂

[2020-01-15 00:09] FujiKinaga commented on #131
Thanks! Assigned! 🙇‍♂️

[2020-01-15 00:33] iwahara commented on #154
🙌

[2020-01-15 00:34] takahirom commented on #154
Thanks! Assigned :raised_hands:

[2020-01-15 00:35] furusin commented on #163
I'm in 🙋
What's the goal of this issue? Should call google Calendar API?

[2020-01-15 00:38] MasayukiSuda commented on #164
🙋

[2020-01-15 00:39] takahirom commented on #163
I think you can use the Intent for registar calendar.✈️

[2020-01-15 00:40] takahirom commented on #164
Assigned📝

[2020-01-15 00:43] tetsukay commented on #152
🙋‍♂

[2020-01-15 00:44] takahirom commented on #152
Assigned🙏

[2020-01-15 00:58] #229 closed

[2020-01-15 01:25] takathemax commented on #160
🙋‍♀️

[2020-01-15 01:27] takahirom commented on #160
Assigned🙏

[2020-01-15 01:28] fornewid commented on #203
I want to try this. :hand:
Please assign to me.

[2020-01-15 01:29] takahirom commented on #203
Thanks!Assigned🙏

[2020-01-15 01:37] kenjikitamura commented on #111
🙋‍♂️

[2020-01-15 01:38] takahirom commented on #111
Assigned🎨

[2020-01-15 01:46] #170 closed

[2020-01-15 01:49] takahirom opened #249 "Enable R8"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to optimize the app using R8🔥

 ## Links

-

[2020-01-15 01:59] fornewid commented on #171
I think, this issue cannot be possible. :sob:
'cause navigation bar is owned by SystemUI (system app)
and the window type is extremely high. (Over the status bar)
https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/view/WindowManager.java#982

[2020-01-15 02:01] STAR-ZERO commented on #217
It seems R8 bug. I found the similar issue https://issuetracker.google.com/issues/146265847

[2020-01-15 02:05] omtians9425 commented on #157
✋

[2020-01-15 02:06] kseito commented on #158
🙋‍♂

[2020-01-15 02:17] takas125 commented on #159
🙌

[2020-01-15 02:18] takahirom commented on #157
Assigned 👍

[2020-01-15 02:18] takahirom commented on #158
Assigned 👍

[2020-01-15 02:19] takahirom commented on #159
Assigned 👍

[2020-01-15 02:19] takahirom commented on #171
I think we can use the margin for preventing overlay 👀

[2020-01-15 02:56] sdsd08013 commented on #155
🙋‍♂

[2020-01-15 02:57] mhidaka commented on #155
Assigned 👍

[2020-01-15 03:37] hotatekaoru commented on #151
🙋‍♂️

[2020-01-15 03:38] satsukies commented on #151
Thanks! Assigned :+1:

[2020-01-15 03:47] kwmt commented on #121
Let me try 🙋

[2020-01-15 03:47] satsukies commented on #121
Thanks!! Assigned :+1:

[2020-01-15 04:01] KoutaMatsushita commented on #146
:raising_hand:

[2020-01-15 04:01] satsukies commented on #146
Thanks!! Assigned :bow::pray:

[2020-01-15 04:05] sdfadsfsdf commented on #129
🙋‍♂

[2020-01-15 04:05] jmatsu commented on #129
assigned. thank you so much! please tell us if you have any questions.

[2020-01-15 04:08] sdfadsfsdf commented on #129
https://github.com/DroidKaigi/conference-app-2020/pull/234
@jmatsu Already finished?

[2020-01-15 04:14] fornewid commented on #171
:scream: so sorry, I misunderstood this issue.
The following is current state,
and snack bar should be shown above the nav bar. Right? 😃

![Screenshot_20200115-130903~2](https://user-images.githubusercontent.com/3405740/72404502-e84ae300-3798-11ea-80b8-060e7d2b6c91.png)

[2020-01-15 04:15] jmatsu commented on #129
Oh sorry, I haven't noticed it. It sounds this issue is gonna be fixed in #234

[2020-01-15 04:19] takattata opened #251 "Fix typo on arts/multimodule.png"
## Kind (Required)
- Other

 ## Overview (Required)
- As is : Dinamic Feature Modules → To be : Dynamic Feature Modules

 ## Links
-

[2020-01-15 04:20] OldBigBuddha commented on #110
🙋‍♀️

[2020-01-15 04:21] e10dokup commented on #110
@OldBigBuddha Thanks! assigned 🙏 💪

[2020-01-15 04:27] mhidaka commented on #251
Eagle eye!
would you like to fix it as your work?

[2020-01-15 04:34] shcahill commented on #120
🤚

[2020-01-15 04:35] jmatsu commented on #120
Thanks! assigned to you. Please feel free to ask us if you have any questions.

[2020-01-15 04:37] jmatsu commented on #129
@sdfadsfsdf
Sorry for confusing you. Could you please handle this issue? It looks the PR has been closed anyway.

[2020-01-15 04:51] takattata commented on #251
thank you~
Yes, I would.

[2020-01-15 04:54] jmatsu commented on #251
Cool! Thank you very much!

[2020-01-15 05:10] takattata commented on #251
What the font is used in arts/multimodule.png?

[2020-01-15 05:28] mkano9 commented on #115
@roana0229 @takahirom Can I take this one? :raised_hand:

[2020-01-15 05:29] satsukies commented on #115
@mkano9 Of course, thank you! Assigned :bow:

[2020-01-15 05:34] takahirom commented on #251
Can you use this image? 🙇
![image](https://user-images.githubusercontent.com/1386930/72407803-108c0f00-37a4-11ea-923b-dd05ed617dbc.png)

[2020-01-15 05:39] takahirom commented on #115
Thank you as always!! 🎉

[2020-01-15 05:58] #146 closed

[2020-01-15 05:58] takattata commented on #251
OK! Thank you!

[2020-01-15 06:52] #251 closed

[2020-01-15 06:53] Takafumi-Orita commented on #114
Do I need to change the margin size when using gesture navigation?

[2020-01-15 07:09] takahirom commented on #114
You can use `insets.systemWindowInsetBottom` like this 🙏
https://github.com/DroidKaigi/conference-app-2020/blob/master/android-base/src/main/java/io/github/droidkaigi/confsched2020/MainActivity.kt#L99

[2020-01-15 07:13] chigichan24 commented on #124
I want to try this issue🙋

[2020-01-15 07:13] satsukies commented on #124
Thanks! Assigned :+1:

[2020-01-15 07:40] hkusu opened #255 "Gem cache not stored."
**Overview (Required)**
- Gem cache failed in CI(GitHub Actions) at pull request.
- For example, https://github.com/DroidKaigi/conference-app-2020/runs/390543966 .

**Steps To Reproduce**

**Expected behavior**

**Screenshots**

<img width="800" alt="スクリーンショット_2020-01-15_16_33_25" src="https://user-images.githubusercontent.com/6157540/72414361-5dc4ac80-37b5-11ea-935a-1d4f9cbd8368.png">

**Env:**

[2020-01-15 07:57] jmatsu commented on #255
Thanks for your report.

bundle command works as intended but the cache key seems to be wrong. The correct cache key would be `.ci/vendor/bundle`.

[2020-01-15 08:06] koogawa commented on #104
I think this is default behavior 🤔
https://github.com/material-components/material-components-android/pull/437

Should I fix this issue? 😃

[2020-01-15 08:09] takahirom commented on #171
Yes!!

[2020-01-15 08:13] takahirom commented on #217
https://github.com/google/bundletool/blob/8f922cf4b24bb1714d06cfa303d8e79e81b71a91/build.gradle#L35

Probably we should update r8 and create a jar myself 😄

[2020-01-15 08:29] eyedol commented on #43
Can you assign this to me? Since it lacks design should I replicate what's done in `conference-app-2019` ?

[2020-01-15 08:55] surajsau commented on #150
🙋‍♂

[2020-01-15 08:56] satsukies commented on #150
Thank you! Assigned 👍

[2020-01-15 08:57] takahirom commented on #43
Thanks for your interest in this issue. 🗺
Not ready to address this issue. The design is likely to change a little from last year, so it seems unlikely that we can do so much.
You can assign and keep this issue, or work on other issues.
For now, the current schedule is a screen with a single map image that can be enlarged or reduced. Ideally, I want the screen to look like a Google Map.
It is okay

[2020-01-15 09:00] takahirom commented on #104
I checked with the designer. Since this is a feature of the app, I want to put it in.

[2020-01-15 09:03] eyedol commented on #43
Oh okay. I'll like to assign it to myself so when the design is ready I can work on it. Right now, I can't assign the issue to myself. Also, I'll pick another issue to work on in the meantime 🤞

[2020-01-15 09:05] takahirom commented on #43
Thanks! I assigned! Thanks as always 🎉

[2020-01-15 09:27] okuzawats commented on #112
i will try

[2020-01-15 09:33] satsukies commented on #112
@okuzawats
Thank you! Assigned 👍

[2020-01-15 09:50] risako070310 commented on #148
🙌

[2020-01-15 09:52] yurihondo commented on #148
Thanks! Assigned 🙏

[2020-01-15 10:00] #121 closed

[2020-01-15 10:34] chigichan24 opened #258 "Api call fails in announce tab if using ja for default language"
**Overview (Required)**
- In the Announce tab, api call for `https://deploy-preview-49--droidkaigi-api-dev.netlify.com/2020/announcements/jp/index.json` fails all time. Api returns 404.
    - So always showing "お知らせなし" in this tab.
- if you use EN as default language in your device, api call successfully finished and fetched some announces.
-  I think the endpoint parameter mistook. It should be r

[2020-01-15 10:48] takahirom commented on #258
Thanks for investigating and understandable issues 💯

[2020-01-15 10:49] chigichan24 commented on #258
I'll fix it by myself. So please assign me!

[2020-01-15 11:06] #258 closed

[2020-01-15 11:16] #130 closed

[2020-01-15 11:28] #131 closed

[2020-01-15 11:33] orimomo commented on #171
Can I try it?　|・ω・*)

[2020-01-15 11:35] rnitame commented on #198
:raising_hand_man:

[2020-01-15 11:38] jmatsu commented on #171
yes, please! thank u so much~

[2020-01-15 11:38] roana0229 commented on #198
Assigned ! 👍

[2020-01-15 11:57] gen0083 opened #262 "BottomAppBar hides behind nav barr on Android5.1"
**Overview (Required)**
-

**Steps To Reproduce**

1. Go to some of SessionDetail
4. BottomAppBar cannot see because behind of nav bar

**Expected behavior**
show BottomAppBar above of nav bar

**Screenshots**

![device-2020-01-15-203431 2020-01-15 20_44_31](https://user-images.githubusercontent.com/7608725/72431546-70041200-37d8-11ea-8561-69b4834fc176.gif)

**Env:**
 - Device: Nexus5
 - OS: 5.1.1

[2020-01-15 12:25] surajsau commented on #150
Will we be showing a button saying 'Ongoing session' in the UI clicking which it'll scroll to the ongoing session? Or will we by default take the user to the current session ?

[2020-01-15 12:29] Takafumi-Orita commented on #255
🙋

[2020-01-15 12:38] #129 closed

[2020-01-15 12:39] #112 closed

[2020-01-15 13:12] roana0229 commented on #255
Assigned 👍

[2020-01-15 13:13] #113 closed

[2020-01-15 13:16] okuzawats opened #267 "Add ripple effect to BottomSheet expand icon"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Show ripple effect when tapped

 ## Links

-

## Screenshot

<img src="https://user-images.githubusercontent.com/12797442/72436677-5799f480-37e4-11ea-9aaa-13a7df3b9b0f.png" width="300" />

[2020-01-15 13:26] Daishin16 commented on #144
🙋
I want to challenge how far I can do it !
I'll try to do my best so please help me !

[2020-01-15 13:34] takahirom commented on #144
Assigned!
Good luck 😆
If you have any questions, please let me know👍

[2020-01-15 13:37] eyedol commented on #122
I'll take this. Could you assign it to me?

[2020-01-15 13:38] roana0229 commented on #122
Assigned 👍

[2020-01-15 13:47] souta0104 commented on #103
🙋‍♂️🙋‍♂️

[2020-01-15 13:52] FujiKinaga commented on #103
@souta0104
Thanks. Assigned ! 👍

[2020-01-15 13:58] Pluu commented on #107
🙋🏻‍♂️

[2020-01-15 14:02] FujiKinaga commented on #107
@Pluu
Thanks again! Assigned 👍

[2020-01-15 14:15] ttanaka330 commented on #138
I tried to address this issue, but it seems to have been resolved in #256. 

[2020-01-15 14:19] takahirom commented on #138
Thank you for your reporting!🙏

[2020-01-15 14:19] #138 closed

[2020-01-15 14:25] ypresto commented on #233
I consulted @chihokotaro in [Twitter](https://twitter.com/chihokotaro/status/1217269975867543554?s=20) and it turned out that the moved-left layout is not intended and is by mistake.

Now the layout looks like below, and we can just export `Logo` group! :tada:

![image](https://user-images.githubusercontent.com/400558/72440570-700e0d00-37ec-11ea-811e-96706f052953.png)

[2020-01-15 14:32] ypresto commented on #233
🙌

[2020-01-15 14:35] yurihondo commented on #233
Thanks Assigned 🙇

[2020-01-15 14:44] radioboo commented on #267
🙋‍♂️

[2020-01-15 14:44] #114 closed

[2020-01-15 14:46] FujiKinaga commented on #267
@radioboo
Thanks! Assigned🙇‍♂️

[2020-01-15 14:47] ypresto commented on #233
I tried to use exported `Logo.svg` but is too complex and not ready for vector drawable (has 16 large paths and 1 unnecessary clipPath, and produced `Attribute "android:fillType" was already specified for element "path".` error in Vector Asset Studio :joy:), so I give up with VectorDrawable. I'll use bitmap format.

[2020-01-15 14:56] shinya-takano opened #271 "Session Chip No Vertical Margin and can't select bottom chip"
**Overview (Required)**
Session Chip No Vertical Margin and can't select bottom chip

**Screenshots**
![device-2020-01-15-233415](https://user-images.githubusercontent.com/2821692/72443985-95057e80-37f2-11ea-99ea-3ada2affef06.png)

**Env:**
 - Device: SHARP SHV43
 - OS: 9.0
 - App Version or the branch master

**Additional context**
Maybe only my device...in that case ignore this issue...

[2020-01-15 14:56] shinya-takano commented on #271
try fix now...

[2020-01-15 15:23] tarumzu commented on #249
🙋‍♂🔥

[2020-01-15 15:24] takahirom commented on #249
🔥🔥🔥🔥🔥🔥

[2020-01-15 15:24] roana0229 commented on #249
Assigned 🔥🔥

[2020-01-15 15:35] #267 closed

[2020-01-15 16:06] TaigaNatto commented on #40
🙋‍♂️
i want to try this issue

What is the goal specifically on this issue ?

[2020-01-15 16:09] #162 closed

[2020-01-15 16:17] #217 closed

[2020-01-15 16:19] #158 closed

[2020-01-15 16:24] KeigoNishira opened #279 "Keyboard keep display after page transition"
**Overview (Required)**
- When transition to SearchView, soft keyboard is appear.
   In addition, if user tap Speaker's name, app transition to detailed page, but soft keyboard is still show.
   if user back to main page, soft keyboard is keep show.

**Steps To Reproduce**
1. Go to 'Search'
2. Click on 'Query View'
3. back to main page by cursor button on top of left button.
4. repeat 1 to 2.
5. t

[2020-01-15 16:27] takahirom commented on #279
Thanks 👍
Unfortunately, this issue is duplicate of this issue and the issue is assigned 😭
https://github.com/DroidKaigi/conference-app-2020/issues/133

[2020-01-15 16:27] #279 closed

[2020-01-15 16:36] KeigoNishira commented on #279
OK, I'm sorry for bothering you.

[2020-01-15 17:11] nukka123 commented on #132
🙋‍♂

[2020-01-15 17:13] takahirom commented on #132
Thanks! Assigned 🙇

[2020-01-15 17:34] ypresto commented on #233
I have forgotten about dark theme :joy:

Current state:
![image](https://user-images.githubusercontent.com/400558/72456671-7e6a2200-3808-11ea-9fb2-571f1e955104.png)

@chihokotaro Could you add a group for logo type only (see below), so we can change text color (without affecting for icon) for dark theme by drawable tinting?
![image](https://user-images.githubusercontent.com/400558/72456018-2f6fbd0

[2020-01-15 17:42] #157 closed

[2020-01-15 17:56] atsushieno opened #285 "input method keyboard from SearchView remains after search operation"
**Overview (Required)**
- input method keyboard from SearchView on the session list fragment remains after search operation (back, select a people, or select a session)

**Steps To Reproduce**

1. launch the app
2. tap top-right search button. The keyboard widget (depending on the local input method settings) would show up.
3. Try either of these:
  1. tap top-left "back" left arrow.
  2. select a

[2020-01-15 18:16] ry-itto commented on #134
I want to try this ✋

[2020-01-15 18:24] takahirom commented on #134
🍎Thanks! 🍎

[2020-01-15 18:26] takahirom commented on #285
Thank you for reporting 🙏
Unfortunately, this issue is duplicate of this issue and the issue is assigned 😭
#133

[2020-01-15 18:26] #285 closed

[2020-01-15 18:27] #202 closed

[2020-01-15 18:43] nukka123 commented on #132
investigation result.

`ContextCompat.getColor(context, R.color.speaker_icon)` returns `0xFFFF0000`.
`speaker_icon` uses style attributes (`?colorPrimary`).
However, `getColor` can not resolve style attributes, if below Android M.

I found following article.
https://www.androiddesignpatterns.com/2016/08/contextcompat-getcolor-getdrawable.html

There are explained to use `AppCompatResources.getColo

[2020-01-16 01:15] takahirom commented on #132
Thank you.  It may be a good idea not to use a theme, and it may be good to divide it as v23.  Is there any recommended way?🎨

[2020-01-16 01:22] #120 closed

[2020-01-16 01:42] takahirom commented on #233
We plan to add a dark theme design this weekend.
It might be a good idea to commit with the current image, which was not optimized for the dark theme before.

[2020-01-16 01:54] Daishin16 commented on #144
What was the goal of this issue this time and how far was it in the previous ㏚?

[2020-01-16 02:02] takahirom commented on #144
The goal of this issue is to be able to see notifications when you change your device's time to the start of your favorite session of the day.
Or, Does that mean the deadline?

[2020-01-16 02:08] Daishin16 commented on #144
Thank you for your reply.
It would be helpful if you could tell me if there is a deadline

[2020-01-16 02:11] takahirom commented on #150
@surajsau
We will take the user to the current session by default 👍

[2020-01-16 02:16] takahirom commented on #40
Thanks for your interest in this issue. 🗺
Not ready to address this issue. The design is likely to change a little from last year, so it seems unlikely that we can do so much.
You can assign and keep this issue, or work on other issues.

[2020-01-16 02:39] takahirom commented on #144
It is ok if it can be done by the beginning of February. 📆
However, this feature sets an alarm when you like it, so those who like it now can't receive notifications, so it's nice to be there early. 😅

[2020-01-16 05:15] rmakiyama opened #288 "Blink time and image when favorite status change"
## Kind (Required)
- Improvement

 ## Overview (Required)
When session's favorite status is changed, `SessionItem` update and call bind method. (equals returns false)

<img src="https://user-images.githubusercontent.com/7961496/72495366-d5ecaa00-3869-11ea-8857-f130c46ba26d.gif" width="300" />

 ## Links

-

[2020-01-16 05:18] rmakiyama commented on #288
Can I tackle this one? 😎

[2020-01-16 05:19] takahirom commented on #288
Thank you for the issue! 👍
But if we return false on equals. Session Icon is not applied. 👀
Probably we should disable change animation?

[2020-01-16 05:25] STAR-ZERO commented on #249
I'm curious about how to test dynamic feature module applied R8. Can we use internal app sharing?

[2020-01-16 05:27] takahirom commented on #249
Thank you! Does universal apk make the problem invisible? 👀

[2020-01-16 05:29] rmakiyama commented on #288
I'm sorry! 🙇  It mean when we return false on equals, speaker image crossfade.
I think we should not disable change animation as using payload.

[2020-01-16 05:30] takahirom commented on #288
Thanks. It looks good 👍
Assigned 🙏

[2020-01-16 05:33] ochim commented on #245
I want to contribute.
But I don't understand the aim of this issue.
modify @anim/fade_in and @anim/fade_out ?
add  new animation files ?

[2020-01-16 05:38] takahirom commented on #245
Thank you for the comment!
We should implement the XML attribute for all actions.
But we don't want to create boilerplate.

[code]
https://github.com/DroidKaigi/conference-app-2020/blob/master/corecomponent/androidcomponent/src/main/res/navigation/navigation.xml#L14

[2020-01-16 05:42] takahirom commented on #262
Thanks! Probably duplicated 😭
https://github.com/DroidKaigi/conference-app-2020/issues/62

[2020-01-16 05:42] #262 closed

[2020-01-16 06:00] Dai1678 commented on #104
@takahirom
✋
I have two ideas.
1. use BottomSheetBehavior.addBottomSheetCallback and adjust topLeft radius.
https://github.com/material-components/material-components-android/pull/437#issuecomment-536734312
2. create shape background and attach to fragment_bottom_sheet_sessions's constraintLayout (such as DroidKaigi2019 app). Not use Widget.DroidKaigi.BottomSheet.

Which is best solution?

[2020-01-16 06:04] takahirom commented on #104
@Dai1678 Thanks for the idea!!
The first one seems to be good because it can get on the mechanism of the component.

[2020-01-16 06:06] Dai1678 commented on #104
Thank you. I wiil try this issue.

[2020-01-16 06:10] takahirom commented on #104
Thanks! Assigned 👍

[2020-01-16 06:23] fornewid commented on #191
🙋‍♂

[2020-01-16 06:29] hidey commented on #191
Assigned 👍

[2020-01-16 06:42] ShoMasegi opened #289 "Crash when click on favorite button of first cell in session list"
As you may already know, I create this issue just in case...👀

**Overview (Required)**
- Crash when tap favorite button of first cell in session list

**Steps To Reproduce**

1. Go to Session List Screen
2. Click on favorite button of **first** session cell
3. See error

**Expected behavior**
No Crash

**Screenshots**
<img src="https://user-images.githubusercontent.com/12663296/72499927-88c30500-3

[2020-01-16 06:48] STAR-ZERO commented on #249
I'm not sure but I recommend to test the app on internal app sharing or test track before the production release. Navigation to dynamic feature module uses reflection, so it's easy to occur crash.

[2020-01-16 06:50] takahirom commented on #289
I didn't know this issue 😮

[2020-01-16 07:01] ShoMasegi commented on #289
I want to try this 🙋‍♂️

[2020-01-16 07:05] roana0229 commented on #289
Assigned 👍
If you have any questions, please let me know 😄

[2020-01-16 07:11] jmatsu commented on #249
Indeed. It's absolutely required. I'm still wondering if which distribution track is preferable, but let me integrate a service somehow.

[2020-01-16 08:55] gen0083 commented on #118
filters are shown but need some long times or need to move day1-day2 etc...
attached screenshot on Android5.0 with emulator.
(probably same on Android 5.1.1)

![Screenshot_1579164537](https://user-images.githubusercontent.com/7608725/72508265-bf098000-3888-11ea-8652-273b688dc637.jpg)

[2020-01-16 10:09] surajsau commented on #201
We can do two things:
- if app is not in foreground, we can schedule a notification saying 'Take survey'. Clicking this would take the user to the dialog listing all the sessions in the last hour and ask user to rate them (Good, Bad, not attended)
- if app is in foreground, we can show the same dialog above

Scheduling of this notification/dialog can be like
- 5 minutes after the user's My Plan se

[2020-01-16 10:41] ochim commented on #245
OK, I see.
The boilerplate is wordy.
But I can't find the solution. Sorry

[2020-01-16 10:43] takahirom commented on #245
It's ok. mee too 😄

[2020-01-16 10:48] takahirom commented on #201
In this DroidKaigi we are thinking about crap or like, not session survey.

[2020-01-16 10:50] takahirom commented on #201
I will update this issue. We are talking with designer.

[2020-01-16 10:55] #203 closed

[2020-01-16 11:57] Luecy1 commented on #101
I am struggling now.:cold_sweat:

I thought that SearchView's  mergin adjust in layout.xml.
However, it put in menu.xml.
I will adjust margins in code.🤔

Would you please give me advice?:bow:

[2020-01-16 12:41] roana0229 commented on #101
I think so too. But I don't know the solution too. 🤔

layout is like this
<img src=https://user-images.githubusercontent.com/6636072/72525522-b2485480-38a7-11ea-8851-b3ab0462e294.png  width=50%>

I will try to remove square.

[2020-01-16 12:53] roana0229 commented on #101
Or `SearchView` does not have to be `menu`, so you can implement it like as `Toolbar`. 😄

[2020-01-16 13:45] koogawa opened #297 "Speaker Session Name not showing multiple lines in TextView"
**Overview (Required)**
- Title says it all.

**Steps To Reproduce**

1. Go to 'Speaker screen'
4. See error

**Expected behavior**

showing multiple lines in TextView

**Screenshots**

<img src="https://user-images.githubusercontent.com/893643/72530016-d3ae3e00-38b1-11ea-852d-003f54eaeab1.png" width="320"/>

**Env:**
 - Device: Pixel2
 - OS: 9.0
 - master

[2020-01-16 13:46] FujiKinaga opened #299 "clipped at the end of session long title in speaker detail screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please change text constraint and deal with by multiple line when apply long title.

![device-2020-01-16-223823](https://user-images.githubusercontent.com/27717556/72530124-03f5dc80-38b2-11ea-826d-9667ef44f48f.png)

 ## Links

-

[2020-01-16 13:46] koogawa commented on #297
✋

[2020-01-16 13:47] #299 closed

[2020-01-16 13:47] FujiKinaga commented on #299
already existed #297

[2020-01-16 13:48] takahirom commented on #297
Good job!

[2020-01-16 13:49] mhidaka commented on #297
@FujiKinaga Thank you for sharing your notice!

[2020-01-16 13:56] FujiKinaga opened #300 "Description text is clipped bottom line in speaker screen."
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please should add padding vertical edge at each textview fields.

![device-2020-01-16-223823](https://user-images.githubusercontent.com/27717556/72530653-25a39380-38b3-11ea-9823-9a5c5d293b84.png)

 ## Links

-

[2020-01-16 13:57] takahirom opened #301 "Optimize layout"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  Can we remove this FrameLayout? 😄

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/blob/master/feature/session/src/main/res/layout/fragment_bottom_sheet_sessions.xml#L52

[2020-01-16 14:01] takahirom opened #302 "Use doOnApplyWindowInsets view parameter"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I think we can use view parameter. and optimize the code.

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/blob/df7e39e63702435bb4e5b552eb1a1111e57f90f9/android-base/src/main/java/io/github/droidkaigi/confsched2020/MainActivity.kt#L97

[2020-01-16 14:03] takahirom opened #303 "Add just launch Instrumentation Test"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Can you add just a launch test?

 ## Links

-

[2020-01-16 14:07] takahirom opened #304 "Add Integration Test"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It is a little difficult.
- Can you mock API? And the launch screen?
- Probably we should create Dagger AppComponent for test 🗡

 ## Links

-

[2020-01-16 14:07] FujiKinaga opened #305 "Show progress bar at random position in session detail."
## Kind (Required)

- Improvement

 ## Overview (Required)

- It's happening a problem that show progress bar at random position.
- Please put progress bar in out of base layout view group.

## Screenshot
Case1 | Case2
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72531180-4a4c3b00-38b4-11ea-8d5a-8c6cd2f90d8f.png" width="300" /> | <img src="https://user-images.githubuser

[2020-01-16 14:08] koogawa opened #306 "Whole TextView padding between lines"
## Kind (Required)

- Improvement, discussion

 ## Overview (Required)

- I think we should increase the spacing between lines in whole textview.

current | figma
---- | ----
<img src="https://user-images.githubusercontent.com/893643/72531401-b6c73a00-38b4-11ea-9aca-9e2840f7a8e5.png" width="320"/> | <img src="https://user-images.githubusercontent.com/893643/72531542-0574d400-38b5-11ea-81e7-c8211c6

[2020-01-16 14:09] koogawa commented on #306
I want to try if needed ✋

[2020-01-16 14:10] takahirom commented on #306
Great 🥇

[2020-01-16 14:29] cheddar-dev commented on #300
🙋

[2020-01-16 14:32] furusin commented on #301
🙋

[2020-01-16 14:37] mhidaka commented on #301
We assigned this issue to you.

[2020-01-16 14:38] roana0229 opened #308 "Add space between speaker item"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add space between speaker item

<img src=https://user-images.githubusercontent.com/6636072/72533638-d2ccda80-38b8-11ea-98fc-2f1c0c345923.png  width=50%>

 ## Links

-

[2020-01-16 14:39] mhidaka commented on #300
@cheddar-dev assigned! we will be waiting for your PR 😉

[2020-01-16 14:45] roana0229 opened #310 "When BottomSheet is collapsed, sub header label should change on `MYPLAN`"
## Kind (Required)

- Improvement

 ## Overview (Required)

- My plan did not change expand icon.

<img src=https://user-images.githubusercontent.com/6636072/72534147-acf40580-38b9-11ea-998b-5f6fa56a1899.png  width=50%>
<img src=https://user-images.githubusercontent.com/6636072/72534152-af565f80-38b9-11ea-96a1-41bb70931639.png  width=50%>

 ## Links

- https://github.com/DroidKaigi/conference-app-

[2020-01-16 14:46] umechanhika commented on #302
🙋

[2020-01-16 14:50] roana0229 commented on #302
Thanks, assigned 👍

[2020-01-16 15:00] FujiKinaga opened #312 "When BottomSheet is collapsed, front layer's session contents label should fade out on `MYPLAN`"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says everything🙇‍♂️
- It seems happen only `MYPLAN` .

<img src=https://user-images.githubusercontent.com/27717556/72535529-08bf8e00-38bc-11ea-8ff7-b97df692bc1e.png  width=50%>

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/issues/310
- https://github.com/DroidKaigi/conference-app-2020/issues/112
- https://github.

[2020-01-16 15:04] FujiKinaga opened #313 "Should show placeholder when loading user image at speaker screen."
## Kind (Required)

- Improvement

 ## Overview (Required)

- User placeholder icon does not displayed if user is using in offline and weak network connection.
    - In the other screens, it seems to be displaying placeholder when loading.

<img src=https://user-images.githubusercontent.com/27717556/72535863-9d29f080-38bc-11ea-845f-edee54cfa855.png  width=50%>

[2020-01-16 15:09] mattukouta commented on #305
🙋‍♂️

[2020-01-16 15:10] sekiya9311 commented on #310
🙋‍♂️

[2020-01-16 15:11] mhidaka commented on #305
Yeah! Please grab this issue. we assigned you!

[2020-01-16 15:12] FujiKinaga opened #316 "Add tap feedback navigating session detail in speaker sceren"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please add tap feedback when tap session title view for navigating.

## Screenshot
<img src=https://user-images.githubusercontent.com/27717556/72536620-ed558280-38bd-11ea-9f3b-38c3dd0b8a08.png  width="300px">

 ## Links

- #131
- #111
- #110

[2020-01-16 15:14] jmatsu commented on #310
Thanks @sekiya9311 . Please feel free to ask us if you have any questions during your development.

[2020-01-16 15:24] #301 closed

[2020-01-16 15:28] FujiKinaga opened #317 "Multiple speaker sessions are not displayed on the speaker screen"
## Kind (Required)

- Bug report
- Improvement

 ## Overview (Required)

- When specific speaker has some sessions, session title is shown only one.
- Please change that we can visible multiple session title of each speakers.

 ## Links
- Not good `firstOrNull` .
- https://github.com/DroidKaigi/conference-app-2020/blob/7e4a56cc15be5cca58c7f8c70d72ad810fecb344/feature/session/src/main/java/io/githu

[2020-01-16 15:28] hiraok commented on #147
i'm interested in DFMs. i wanna try it ✋

 It may take some time.. 😅

[2020-01-16 15:32] takahirom commented on #147
Thanks!! Assigned 🙏

[2020-01-16 15:38] FujiKinaga opened #318 "Implement app shortcuts"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Users want to navigate to various screens easily and quickly✨
    - For example, `FloorMap`, `MYPLAN` tab.

 ## Links

- https://developer.android.com/guide/topics/ui/shortcuts.html

[2020-01-16 15:41] kazkn commented on #317
Hi, I want to try this issue, please.

[2020-01-16 15:43] kiyosuke commented on #308
🙋‍♂️

[2020-01-16 15:44] roana0229 commented on #308
Assigned 👍

[2020-01-16 15:45] #306 closed

[2020-01-16 15:50] ymnder commented on #317
@kazkn We assigned this issue to you!
Please don't hesitate to ask us if you have any questions.

[2020-01-16 15:53] #191 closed

[2020-01-16 15:54] #300 closed

[2020-01-16 15:58] FujiKinaga opened #320 "Users can navigate between speaker screen and session detail screen infinitely with stack"
## Kind (Required)

- Proposal / Discussion
- Improvement

 ## Overview (Required)

- Users can navigate endlessly between speaker screen and session screen while adding back stack.
    - Looping like this.
      - `Speaker's A screen` -> `Session B Detail` -> `Speaker's A screen` -> `Session B Detail` .....
- To use navigating action with `popUpTo` and `popUpToInclusive`, can prevent stack loopin

[2020-01-16 16:14] FujiKinaga commented on #320
Proposal withdrawn because of non sensual motion🙏

[2020-01-16 16:14] #320 closed

[2020-01-16 16:23] #153 closed

[2020-01-16 16:29] YuheiKawakami commented on #316
I'll try it ! 🙋‍♂

[2020-01-16 16:31] #308 closed

[2020-01-16 16:32] roana0229 commented on #316
Of course, assigned 👍

[2020-01-16 16:34] kazkn commented on #313
Hi, I want to try this issue. because I am assigned #317. I think to change SpeakerFragment implementation used RecyclerView.
as I will implementation this issue for preventing Conflict.

[2020-01-16 16:42] takahirom opened #323 "SystemViewModel has Activity"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It will cause a leak.
- Please remove the activity from SystemViewModel property
- Please add Activity to openUrl parameter

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/blob/3bd1efc4f7272046c6ce2b5774430af1849e158d/feature/system/src/main/java/io/github/droidkaigi/confsched2020/system/ui/viewmodel/SystemViewModel.kt#L

[2020-01-16 17:16] takahirom opened #324 "Chrome Custom Tab Navigator instead of SystemViewModel.openUrl"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It looks like an article 👀

 ## Links

- https://proandroiddev.com/add-chrome-custom-tabs-to-the-android-navigation-component-75092ce20c6a

[2020-01-16 17:28] #107 closed

[2020-01-16 17:28] #310 closed

[2020-01-16 17:30] hkusu commented on #303
Can I challenge this?

[2020-01-16 17:31] takahirom commented on #303
Thanks! Assigned 👍

[2020-01-16 17:33] takahirom opened #325 "Keep expanding state across screen rotate"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably we can do it with ViewModel

- Session detail
- Announcement

[2020-01-16 17:34] #165 closed

[2020-01-16 17:40] roana0229 opened #326 "Add bottom margin on MYPLAN tab"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add bottom margin on MYPLAN tab

<img src=https://user-images.githubusercontent.com/6636072/72548668-80001c80-38d2-11ea-9eb6-f998061f9d76.png  width=50%>

like `DAY1`, `DAY2` tab

<img src=https://user-images.githubusercontent.com/6636072/72548673-82627680-38d2-11ea-9f06-c25fe696c6b4.png  width=50%>

 ## Links

-

[2020-01-16 19:37] eyedol commented on #122
In progress...

[2020-01-16 20:06] kouhon commented on #323
🙋‍♂

[2020-01-16 20:55] Luecy1 commented on #101
Thank you for comments.
i keep trying.

[2020-01-16 22:29] keikyukyun commented on #117
I try it✋

[2020-01-16 23:16] FujiKinaga commented on #323
@kouhon
Thanks! Assigned 👍

[2020-01-16 23:18] FujiKinaga commented on #117
@keikyukyun
I'm sorry for the late reply😭
Assigned! 👍

[2020-01-17 00:35] negishitakuro commented on #326
:raising_hand:

[2020-01-17 00:37] FujiKinaga commented on #326
@negishitakuro
Thanks! Assigned 👍

[2020-01-17 00:51] syo-sa1982 commented on #318
Hi, I want to try this issue, please.

[2020-01-17 00:52] FujiKinaga commented on #318
@syo-sa1982
Thanks! Assigned! 👍

[2020-01-17 01:26] FujiKinaga opened #329 "Create PreferenceViewModel to realize unidirectional data flow"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Would you please add ViewModel in preference module.
    - To handle `onClick` and `onCheckedChange` event.
    - To follow [the architecture](https://github.com/DroidKaigi/conference-app-2020#architecture) like unidirectional data flow.
    - To ensure scalability when features are added thanks to suggestions in the future!

 ## Links

[2020-01-17 01:54] takahirom commented on #135
We don't think iOS and Android should have the same design.  I think that we can optimize well by riding on the framework of material components.  I'm sorry if you misunderstand.

[2020-01-17 01:55] fornewid commented on #324
:raising_hand_man:

[2020-01-17 01:56] takahirom commented on #324
Thanks! Assigned🙏

[2020-01-17 01:58] 4074 commented on #135
I got it.
Thanks for your sharing the guidelines. It is so useful to me.

[2020-01-17 02:17] takahirom opened #330 "Add AutoCleardValue (Google) to README"
## Kind (Required)

- Improvement

 ## Overview (Required)

- AutoCleardValue is used for clear binding in Fragment

 ## Links

-

[2020-01-17 02:31] #255 closed

[2020-01-17 02:39] tarumzu opened #332 "Replace Fabric Crashlytics library to Firebase"
## Kind (Required)
- Improvement

 ## Overview (Required)
- The other day, when I worked on Crashlytics, I didn't know the existence of the Firebase library.
I want to implement it with Firebase library.

https://github.com/DroidKaigi/conference-app-2020/issues/182

 ## Links
- https://firebase.google.com/docs/crashlytics/get-started-new-sdk?platform=android

[2020-01-17 02:39] takahirom commented on #332
👍

[2020-01-17 02:40] tarumzu commented on #332
Can I try it?

[2020-01-17 02:48] takahirom commented on #332
Thanks! Assigned 👍

[2020-01-17 02:54] tarumzu commented on #332
Thanks!

[2020-01-17 03:22] #233 closed

[2020-01-17 03:38] FujiKinaga opened #333 "Change some screen's navigation menu click action"
## Kind (Required)

- Improvement

 ## Overview (Required)
- Here are the things I would like to ask a favor.
    - Please change toolbar icon.
    - When taping navigation menu, please open drawer like announce screen.

## Screenshot
Not Good | Good👍
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72586318-a0f95980-3934-11ea-8e72-4fdbd925ae7a.gif" width="300" /> | <img sr

[2020-01-17 04:11] NaoyukiHamada commented on #333
Hi, I want to try this issue, please.

[2020-01-17 04:13] KeithYokoma commented on #333
@NaoyukiHamada Thanks! Assigned this issue to you so give it a try!

[2020-01-17 04:19] #288 closed

[2020-01-17 04:24] kuramu1108 commented on #329
Hi, I would like to give it a try

[2020-01-17 04:26] jmatsu commented on #329
Cool, thanks. Please feel free to contact us if you have any questions.

[2020-01-17 04:40] cutmail commented on #135
🙋‍♂

[2020-01-17 04:47] yurihondo commented on #135
Thanks! assigned!!

[2020-01-17 05:15] ntsk commented on #325
🙋‍♂

[2020-01-17 05:24] STAR-ZERO opened #334 "Test dynamic feature module offline"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Testing dynamic feature module is so hard for contributors. Offline testing might reduce the problem. It can do using `FakeSplitInstallManager`.

 ## Links

- [FakeSplitInstallManager](https://developer.android.com/reference/com/google/android/play/core/splitinstall/testing/FakeSplitInstallManager)
- [My blog](https://medium.com/@star_z

[2020-01-17 05:25] STAR-ZERO commented on #334
Please assign me 🙏

[2020-01-17 05:25] FujiKinaga commented on #325
@ntsk
Thanks! Assigned👍

[2020-01-17 05:26] FujiKinaga commented on #334
@STAR-ZERO
Yes!. I assigned you 👍

[2020-01-17 07:37] kumamotone opened #335 "Text wrapping of session name"
**Overview (Required)**
- Speaker detail screen
  - Text wrapping of session name should be enabled.

ex. `基盤作` → `基盤作り`

<img width="326" alt="スクリーンショット 2020-01-17 16 33 04" src="https://user-images.githubusercontent.com/8403570/72592989-3998d500-3947-11ea-8df5-5709b897b1b7.png">

[2020-01-17 07:38] roana0229 commented on #335
Thanks for you report 👍

[2020-01-17 07:38] kumamotone commented on #335
Oops it's duplicated.
https://github.com/DroidKaigi/conference-app-2020/issues/297

[2020-01-17 07:38] #335 closed

[2020-01-17 07:43] roana0229 commented on #335
@kumamotone
I'm sorry, I think it has already been fixed.
Is it still happening on master branch?

PR: https://github.com/DroidKaigi/conference-app-2020/pull/298
Issue: https://github.com/DroidKaigi/conference-app-2020/issues/297

[2020-01-17 08:21] eyedol commented on #122
I need a little help if anyone has experienced this before. So the  `session.isFavorited` field is updated correctly when the user taps on the favorite icon however the favorite icon state is not updated right away until the user scrolls up or down the screen or navigate away and comes back. I'm suspecting something with GroupAdapter is not updating the Recyclerview items correctly. This is specif

[2020-01-17 08:39] takahirom commented on #122
Thank you for investigating! 👍
If you want to give up, you can unassign the issue.

[2020-01-17 08:56] eyedol commented on #122
@takahirom  not yet :)

[2020-01-17 09:29] hkusu opened #338 "There is no gem cache when a new pull request is created"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is no gem cache when a new pull request is created.

  <img width="600" alt="スクリーンショット 2020-01-17 18 13 59" src="https://user-images.githubusercontent.com/6157540/72599736-a0bd8600-3955-11ea-97a4-0140112d20d8.png">

- Because the cache of GitHub Actions searches the cache in the order of the pull request's branch, the merge destin

[2020-01-17 10:15] takahirom commented on #201
I will create new issue

[2020-01-17 10:15] #201 closed

[2020-01-17 10:21] roana0229 commented on #297
already fixed. https://github.com/DroidKaigi/conference-app-2020/pull/298

[2020-01-17 10:21] #297 closed

[2020-01-17 10:50] TaigaNatto commented on #40
Thanks for reply

ok,I'll try other isuue.
May I retry this issue when ready on design ?

[2020-01-17 11:00] takahirom commented on #40
You can assign multiple issues. How about it?

[2020-01-17 11:01] takahirom commented on #338
Thanks Assigned! (by @jmatsu )

[2020-01-17 11:17] umakoz commented on #245
I wanna try. 🙋‍♂️

[2020-01-17 11:22] takahirom commented on #245
Thanks! Assigned

[2020-01-17 11:23] #316 closed

[2020-01-17 11:43] LeoAndo commented on #249
@takahirom @tarumzu

AssistedInject is Disable R8's ProGuard compatibility mode.

https://github.com/square/AssistedInject/commit/984b5f80a338205e3ebf86306635d78a06141ec6#diff-503f218d646c10f484fdc9d6315bf2e3

[2020-01-17 12:03] takahirom commented on #249
I didn't know that!😮
Does it affect to app? Not only library?👀

[2020-01-17 12:10] andooown commented on #330
✋

[2020-01-17 12:11] satsukies commented on #330
Thank you! We assign to you :+1:

[2020-01-17 12:20] gen0083 opened #340 "Close drawer when back button pressed"
## Kind (Required)

- Improvement

 ## Overview (Required)

- press back button when drawer open, go back home currently
- it'll be better to close drawer

![currently 2020-01-17 21_19_21](https://user-images.githubusercontent.com/7608725/72612078-12ee9480-396f-11ea-8fa3-ccdc4fed0531.gif)

 ## Related

- #126
- #266

[2020-01-17 12:20] #126 closed

[2020-01-17 12:22] tarumzu commented on #249
@LeoAndo Thank you for the link!
I think It only affects the library.

[2020-01-17 13:06] #133 closed

[2020-01-17 13:12] Daishin16 commented on #144
Compile now works. Have you seen my repository once?
https://github.com/Daishin16/conference-app-2020/tree/show-notification-when-mysession-starts/feature/notification/src/main/java/io/github/droidkaigi/confsched2020/notification

[2020-01-17 13:24] takahirom commented on #144
Thank you 🙏
Can you create WIP(work in progress) pull request?
[WIP]Show notification when my session starts

Because there are many PRs🙇

[2020-01-17 13:26] takahirom commented on #144
Or you can create  Draft PR

[2020-01-17 13:28] koogawa opened #344 "Add space between speaker item on session detail screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add space between speaker item on session detail screen

<img src=https://user-images.githubusercontent.com/893643/72615279-adeb6c80-3977-11ea-94a9-6ecb2eb04b1e.png  width=50%>

 ## Links

- #308

[2020-01-17 13:29] koogawa commented on #344
✋

[2020-01-17 13:31] roana0229 commented on #344
Thanks always, assigned 👍

[2020-01-17 13:48] FujiKinaga commented on #312
It seems to already be fixed at #321 I will close!

[2020-01-17 13:48] #312 closed

[2020-01-17 14:15] FujiKinaga opened #348 "When come back to search screen after query searching, editText become empty"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Should retype queried text from saved at viewModel instance.
    - Currently, search result list is displaying filtered list when coming back.

 ## Links
👀
https://github.com/DroidKaigi/conference-app-2020/blob/7e4a56cc15be5cca58c7f8c70d72ad810fecb344/feature/session/src/main/java/io/github/droidkaigi/confsched2020/session/ui/viewmodel/

[2020-01-17 14:16] cheddar-dev commented on #62
🙋

[2020-01-17 14:19] takahirom commented on #62
Thanks! Assigned!

[2020-01-17 14:24] #326 closed

[2020-01-17 14:26] FujiKinaga opened #349 "ViewModel values ​​except UiModel should be inaccessible from outside"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Sometimes, we can access public instances of viewModel. But many of them should be private.
- Please try look into various viewModels for refactoring!

<img width="665" src="https://user-images.githubusercontent.com/27717556/72619335-5ef60500-3980-11ea-91e9-1d9297a16014.png">

[2020-01-17 14:47] Pluu commented on #349
🙋🏻‍♂️

[2020-01-17 14:48] roana0229 commented on #349
Assigned 👍

[2020-01-17 15:07] nredjap commented on #348
I want to try repair this issue.🙋
I'll code now.
(I contribute OSS for the first time. If I cause trouble, sorry...)

Because I can not english well, I write Japanese that want to tell in below...↓
英語まともに書けているかわからないので、言いたい日本語も添えて
おきます...↓

このIssueの修正に取り組みたいです。🙋
これから作業をします。
(初めてOSSコントリビュートをします。もし迷惑をかけたらすみません...)

[2020-01-17 15:11] roana0229 commented on #348
Of course, assigned 👍
Please feel free to contact us if you have any questions.

[2020-01-17 15:12] #344 closed

[2020-01-17 15:40] #324 closed

[2020-01-17 15:46] tarumzu commented on #332
@takahirom
At present, it seems that firebase crashlytics (beta) cannot be used when already linked with fabric.

I'm sorry🙇, Can you recreate the “io.github.droidkaigi.confsched2020.debug” app?

[2020-01-17 15:49] takahirom commented on #332
👀

[2020-01-17 15:53] takahirom commented on #332
Which should we? 👀
![image](https://user-images.githubusercontent.com/1386930/72625846-e9446600-398c-11ea-95d3-65eae1f30812.png)

[2020-01-17 15:55] takahirom commented on #332
I don't remember making a 2020 project with Fabric. 💭

[2020-01-17 15:56] tarumzu commented on #332
👀!

[2020-01-17 15:56] takahirom commented on #332
So probably should we create? "いいえ、新しいFirebaseアプリを設定します"?

[2020-01-17 15:58] tarumzu commented on #332
@takahirom Can you temporarily invite me to a project?
I want to see it directly.
tarumzu@gmail.com
🙇

[2020-01-17 16:04] takahirom commented on #332
Maybe you can see the same thing when you create a new project. 🙇

[2020-01-17 16:08] tarumzu commented on #332
Successful in my environment.
Can you set up a new firebase app?

[2020-01-17 16:11] #349 closed

[2020-01-17 16:11] tarumzu commented on #332
Please Check "Yes".

[2020-01-17 16:14] takahirom commented on #332
I did it 🙏
If it is ok, I will do that for production firebase

[2020-01-17 16:17] tarumzu commented on #332
@takahirom Thanks!!
I was successful!!!
[code]

[2020-01-17 16:18] takahirom commented on #332
🙌

[2020-01-17 16:19] takahirom commented on #332
![image](https://user-images.githubusercontent.com/1386930/72627860-89e85500-3990-11ea-87a9-b3df64b8a571.png)

[2020-01-17 16:49] #332 closed

[2020-01-17 16:52] takahirom opened #357 "Use DropBox/Store4 for DataStaffRepository"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Rather than replace, I want to try and try it once.
- You can access staffs screen  from about screen

 ## Links

-

[2020-01-17 16:54] takahirom opened #358 "Implement Staff screen design"
## Kind (Required)

- Improvement

## Overview (Required)

- We don't have a design. But probably we can use contributor design or speaker design 😄
You can access staffs screen  from about screen

 ## Links

-

[2020-01-17 17:00] takahirom opened #359 "Use TypeAlias for R class"
## Kind (Required)

- Improvement

 ## Overview (Required)

- android.R
- androidx.appcompat.R

AndroidR
AppCompatR
![image](https://user-images.githubusercontent.com/1386930/72630670-2c570700-3996-11ea-9019-0dcfeee8d9f0.png)

 ## Links

-

[2020-01-17 17:10] takahirom opened #360 "Use UiModel for StaffsViewModel"
## Kind (Required)

- Improvement

 ## Overview (Required)

- At first, we did not use UiModel.
- I want to use UiModel for it 🙏
You can access staffs screen from about screen

[2020-01-17 17:15] takahirom opened #361 "Add ViewModel test for Staffs"
## Overview (Required)
The title says everything. 💯
This issue blocked by https://github.com/DroidKaigi/conference-app-2020/issues/360

## Links
- https://github.com/DroidKaigi/conference-app-2020/blob/8691c73ccfaa7ba626752433d7b97d744a2e679f/feature/announcement/src/main/java/io/github/droidkaigi/confsched2020/announcement/ui/viewmodel/AnnouncementViewModel.kt

[2020-01-17 17:24] ho2ri2s commented on #360
I want do it 🙋‍♂️

[2020-01-17 17:30] takahirom commented on #360
Thanks! Assigned 👍

[2020-01-17 17:52] #317 closed

[2020-01-17 17:53] #333 closed

[2020-01-17 18:32] rockun1 commented on #359
🙋🏻‍♂️

[2020-01-17 18:44] matsujun commented on #359
Thanks!
Assigned!

[2020-01-17 20:21] Dai1678 commented on #104
すみません。意図を全部英語で正しく伝えきるのが難しいので日本語で失礼します...

支持頂いたこちらの方法で実装してみているのですが、上手くいかない状況でヘルプを頂きたいです

左上の角のみを調整するのに`MaterialShapeDrawable`を使って実装してみているのですが、以下の問題点が発生してしまっています
- 常に角は丸い仕様なので、`addBottomSheetCallback`内ではなく`onViewCreated`の直後でレイアウトに対して`MaterialShapeDrawable`をセットするようにしたが、`MaterialShapeDrawable`が適用されない (メソッドは呼ばれている)
- `background`に`materialShapeDrawable`を設定すると、そのレイアウトに設定されていたstyle(もしくはbackgroundTintのみ?

[2020-01-17 20:41] YuheiKawakami commented on #340
I'll try this issue 🙋‍♂

[2020-01-17 23:31] FujiKinaga commented on #340
@YuheiKawakami
Thanks for raising up your hand!
Assigned 👍

[2020-01-18 00:35] STAR-ZERO commented on #334
Sorry, I overlooked android manifest in dynamic feature module.
Dynamic feature module in the app doesn't run as on_demand. Is it right? If it's so, Fake SplitInstallManager is not needed.

[2020-01-18 01:33] shinya-takano commented on #271
https://github.com/DroidKaigi/conference-app-2020/pull/272
merged

[2020-01-18 01:33] #271 closed

[2020-01-18 01:58] takahirom commented on #334
Yes.  It is not currently on demand.  If you can deploy and debug when you enable on-demand, you want to enable it.

[2020-01-18 02:10] NUmeroAndDev commented on #104
@Dai1678
How about use `MaterialShapeDrawable.createWithElevationOverlay` ?

Like this ↓
[code]

[2020-01-18 02:12] STAR-ZERO commented on #334
Ok, I'll try to turn on on-demand.

[2020-01-18 02:20] #151 closed

[2020-01-18 02:33] NUmeroAndDev commented on #104
@Dai1678
I think the first problem can be solved by setting shapeAppearance to null.

[code]

`materialBackground` that `BottomSheetBehavior` has is not overwritten by setBackground.

[2020-01-18 04:16] minami1389 commented on #358
🙋‍♂️

[2020-01-18 04:18] FujiKinaga commented on #358
@minami1389
Thanks! Assigned!👍

[2020-01-18 04:35] takahirom commented on #195
@phicdy
Sorry 🙇
Another person has worked. If you haven't started, can I give the task to that person?

[2020-01-18 04:39] phicdy commented on #195
@takahirom Oh, ok. No problem 👍 I’ll find other issue.

[2020-01-18 04:40] takahirom commented on #195
Thanks!!

[2020-01-18 04:45] #116 closed

[2020-01-18 04:52] Dai1678 commented on #104
@NUmeroAndDev
Thank you for reply!!!

All your suggestions worked correctly.
I will create fix PR.

[2020-01-18 04:54] takahirom commented on #334
Thanks as always 🙏

[2020-01-18 05:14] takahirom opened #375 "Test method naming rule"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- There are various implementations now.

[code]

 - Do you have any recommendations for this? For example, the famous OSS uses such a naming convention.

 ## Links

-

[2020-01-18 05:15] matsujun opened #376 "Add white spaces to tab labels"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add white spaces to follow Figma design.

| Figma | Current App |
--- | ---
| <img width="200" alt="▶_App_-_App" src="https://user-images.githubusercontent.com/10704349/72659026-ac17bc80-39fc-11ea-95f9-b1053f5be0a0.png"> | <img width="200" alt="▶_App_-_App" src="https://user-images.githubusercontent.com/10704349/72659012-622ed680-39fc-1

[2020-01-18 05:26] kouhon commented on #376
:hand:

[2020-01-18 05:27] takahirom commented on #376
Thanks! Assigned 👍

[2020-01-18 05:39] STAR-ZERO opened #378 "Suppress warning "Use FragmentContainerView instead of fragment tag""
## Kind (Required)

- Improvement

 ## Overview (Required)

- Use FragmentContainerView instead of fragment tag in activity_main.xml

<img width="622" alt="Screen Shot 2020-01-18 at 14 37 37" src="https://user-images.githubusercontent.com/376376/72659271-40375300-3a00-11ea-92b2-8a57282ac3c9.png">

 ## Links

- https://developer.android.com/reference/androidx/fragment/app/FragmentContainerView

[2020-01-18 05:39] #195 closed

[2020-01-18 05:40] takahirom commented on #378
I tried it, but it was a little difficult. I want to do it if I can. 😭

[2020-01-18 05:53] STAR-ZERO commented on #378
replaced and then getting error.

[code]

[2020-01-18 05:53] #305 closed

[2020-01-18 05:55] #376 closed

[2020-01-18 06:05] takahirom opened #380 "Use RecyclerView for the entire session details screen"
## Kind (Required)

- Improvement

## Overview (Required)

- That is better for performance.

## Links

-

[2020-01-18 06:11] STAR-ZERO commented on #378
FragmentContainerView bug.
https://issuetracker.google.com/issues/143145612

I think it's ok to add `tools:ignore="FragmentTagUsage"` to ignore this lint.

[2020-01-18 06:12] takahirom commented on #378
Sounds good! It looks better if comments are written.

[2020-01-18 06:18] #302 closed

[2020-01-18 06:23] STAR-ZERO commented on #378
Is there anyone who wants to do it? It's easy to contribute.

[2020-01-18 06:41] takahirom opened #381 "From the app icon to determine whether to debug or release"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now it is the same. We can not determine 😅
![image](https://user-images.githubusercontent.com/1386930/72659810-e2f3cf80-3a08-11ea-8f28-bcf1aba17540.png)

 ## Links

-

[2020-01-18 06:44] umechanhika commented on #378
Can I do this?

[2020-01-18 06:47] #104 closed

[2020-01-18 06:59] STAR-ZERO opened #382 "debug.keystore is not sufficient key size"
**Overview (Required)**
- I got below error when using bundletool.

[code]

**Steps To Reproduce**

Run below commands.

[code]

**Expected behavior**
No error, and create apks fils.

**Screenshots**

**Env:**

**Additional context**

- Using `~/.android/debug.keystore` which is on my computer doesn't occur the error.

[2020-01-18 07:25] takahirom commented on #378
Thanks! Assigned 👍

[2020-01-18 07:26] takahirom commented on #378
@STAR-ZERO I will change title of this issue

[2020-01-18 07:40] takahirom commented on #144
I am looking for someone to challenge this issue 🔥

[2020-01-18 07:45] #330 closed

[2020-01-18 07:59] umechanhika opened #384 "There is no bottom padding at Timeline Filter"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It is necessary 40dp padding between chip and bottom sheet in Timeline Filter.

## Links

- https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=11%3A625

## Image
| Figma | App |
|---|---|
| ![image](https://user-images.githubusercontent.com/47149507/72660588-294e2c00-3a13-11ea-9379-34f676c1bcfe.png) | ![screenshot](https://us

[2020-01-18 08:01] takahirom commented on #384
A very easy-to-understand issue!

[2020-01-18 08:05] takahirom commented on #147
@hiraok
Are you already starting the implementation? He seems to be able to implement it. 🙇
https://twitter.com/STAR_ZERO/status/1218441329501294592

[2020-01-18 08:05] orimomo commented on #381
🙋‍♀️

[2020-01-18 08:06] satsukies commented on #381
@orimomo Thank you! We assign this issue to you :+1:

[2020-01-18 08:06] takahirom commented on #381
Assigned 👍

[2020-01-18 08:08] FujiKinaga opened #385 "Fade out myPlan's emptyView after visible my plan list"
## Kind (Required)

- Improvement

 ## Overview (Required)

- EmptyView see for a moment in spite of having favorite sessions when specific cases.
    - 1. When opening app and slide to myPlan tab firstly.
    - 2. When moving to session detain and come back to myPlan screen.
- Should set to gone visibility in default value?🐶

 ## Screenshot
<img src="https://user-images.githubusercontent.com/2771

[2020-01-18 08:10] #378 closed

[2020-01-18 08:15] orimomo commented on #171
Is this issue already fixed in master-branch?😮

<img src="https://user-images.githubusercontent.com/12453846/72660799-f6f1fe00-3a15-11ea-9d6b-1044ac0606b6.png" width="320"/>

[2020-01-18 08:26] #348 closed

[2020-01-18 08:35] #303 closed

[2020-01-18 08:36] tsumuchan commented on #384
🙋‍♀️

[2020-01-18 08:38] takahirom commented on #384
Thanks! Assigned!

[2020-01-18 08:49] takahirom opened #386 "Expand tap area for speaker session"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Expand tap area for speaker session
![image](https://user-images.githubusercontent.com/1386930/72661195-cd87a100-3a1a-11ea-935c-a2914917cfbc.png)

 ## Links

-

[2020-01-18 08:57] FujiKinaga opened #387 "Vanish search menu when screen rotate."
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says it everything🙏

 ## Screenshot
![fps_30](https://user-images.githubusercontent.com/27717556/72661319-bc8b5f80-3a1b-11ea-8c16-a5580622c86e.gif)

[2020-01-18 09:00] beta1139 commented on #386
🙋‍♀

[2020-01-18 09:00] hiraok commented on #147
@takahirom
Oh.. Thank you for the information.
I started doing it, but it looks like it's done, so I'll do another issue

[2020-01-18 09:03] FujiKinaga opened #388 "Content area must be scrollable and viewable in preparation for screen rotation"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Sometimes, we can't view screens because of non-scrollable and non-margin.
- Please try look into various screen layout for refactoring!

 ## Screenshot
For example, just like this.

![device-2020-01-18-180302](https://user-images.githubusercontent.com/27717556/72661404-ce213700-3a1c-11ea-95f0-2b12a714b7bb.png)

[2020-01-18 09:04] FujiKinaga commented on #386
@beta1139
Thanks! Assigned 👍

[2020-01-18 09:04] Dai1678 commented on #267
I think this problem seems to be happening again.
Because `android:background="?attr/selectableItemBackgroundBorderless"` was deleted by #309

[2020-01-18 09:09] b4tchkn commented on #385
🙋‍♂️

[2020-01-18 09:13] omtians9425 commented on #357
Can I try it???

[2020-01-18 09:15] FujiKinaga commented on #385
@b4tchkn
Thanks! Assigned! 👍

[2020-01-18 09:15] FujiKinaga commented on #357
@omtians9425
Of course!👍
I assigned you!

[2020-01-18 09:18] FujiKinaga opened #390 "Apply speaker item's design in session detail screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please correct it as designed.
    - String localizing
    - User icon sizing
    - Speaker name sizing
    - Should more intuitive tap feedback like speaker layout of day's session
    - etc. Welcome your improvement ideas!

 ## Links
Current | Ideal
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72661494-fe1d

[2020-01-18 09:44] sasakitomohiro commented on #390
🙋‍♀️

[2020-01-18 09:45] roana0229 commented on #390
Assigned 👍

[2020-01-18 10:35] rwadada opened #393 "Dynamically expand the tappable area when collapsed session filter"
## Kind (Required)
- Improvement

 ## Overview (Required)

- Move the line down as you scroll to expand the tappable area.
<img src="https://user-images.githubusercontent.com/1386930/72659193-4b3db380-39ff-11ea-862f-d9318e196233.png" width="400" />

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/pull/367#issuecomment-575868989
- [About MotionLayout](https://developer.android.com/re

[2020-01-18 10:39] #386 closed

[2020-01-18 10:47] imsaku opened #394 "Myplan's empty session view is visible when only speakerless sessions are favorited"
## Kind (Required)
- Improvement

 ## Overview (Required)
Myplan's empty session view is visible when favorite sessions are only speakerless events("Welcome Talk", "Lunch", "Party")
I think it should be invisible in this case.

![empty-session-visible](https://user-images.githubusercontent.com/58973616/72662466-dc764f80-3a2a-11ea-94cb-c84758d5ed55.gif)

[2020-01-18 10:50] roana0229 commented on #394
Thanks for your report. It makes sense 👍

[2020-01-18 10:51] a25max commented on #361
I want to try it.

[2020-01-18 10:51] k3nsuk3 opened #396 "Hardly see the BottomSheet expand icon when app running on dark theme"
## Kind (Required)

- Improvement

 ## Overview (Required)

- BottomSheet expand icon color is always dark, even if app running on dark theme

 ## Links

-

## Screenshot

Pixel 3a Emulator, Android 9, API 28

|Dark|Light|
|:---:|:---:|
|![dark-expand-icon](https://user-images.githubusercontent.com/4849408/72662475-f9ab1e00-3a2a-11ea-94dd-1e9c12020a21.png)|![light-expand-icon](https://user-images.

[2020-01-18 10:53] a25max commented on #387
I want to try it.

[2020-01-18 10:53] roana0229 commented on #396
Thanks for your report !

[2020-01-18 10:55] roana0229 commented on #387
Of course, assigned 👍

[2020-01-18 10:56] eyedol commented on #144
I'd like to take it. assing it to me

[2020-01-18 11:01] roana0229 commented on #144
Thanks, assigned 👍

[2020-01-18 11:12] k3nsuk3 commented on #396
May I fix it?

[2020-01-18 11:15] akihito-okada commented on #394
🙋‍♂️

[2020-01-18 11:17] roana0229 commented on #394
Assigned 👍

[2020-01-18 11:18] roana0229 commented on #396
Of course, assigned 👍

[2020-01-18 11:28] crimsonwoods commented on #118
@takahirom Maybe, I found the workaround to fix this issue. Would you assign me?

[2020-01-18 11:33] gen0083 opened #397 "If filter hits on MyPlan page, filter button is shown"
**Overview (Required)**
- on MyPlan page set filter and some favorite session hits then filter button appear. (and session list too)

**Steps To Reproduce**

1. Add some sessions to favorite
2. go to MyPlan page
3. show filters and set some filter to be hit favorite session
4. then it is appeared session list and filter button

**Expected behavior**
same as Day1/Day2 page.
(on Day1/Day2 page, this

[2020-01-18 11:37] 5hyn3 commented on #388
🙋‍♂️

[2020-01-18 11:38] roana0229 commented on #388
Assigned 👍

[2020-01-18 12:01] rockun1 commented on #359
Sorry if I misunderstand. I have a question.

## AndroidR.id is unresolved

In my environment(Android Studio 3.6 RC 1),
typealias `AndroidR = android.R, AppcompatR = androidx.appcompat.R` is not working correctly.
But, these typealias `AndroidAttr = android.R.attr, AppcompatId = androidx.appcompat.R.id` is working.

#### declare typealias

<img width="498" alt="Screen Shot 2020-01-18 at 20 47 28"

[2020-01-18 12:09] sdsd08013 commented on #382
🙋‍♂

[2020-01-18 12:10] FujiKinaga commented on #382
@sdsd08013
Thanks! Assigned 👍

[2020-01-18 12:12] #396 closed

[2020-01-18 12:37] tfandkusu commented on #380
🙋‍♀️

[2020-01-18 12:38] roana0229 commented on #380
Assigned 👍

[2020-01-18 13:40] k3nsuk3 opened #402 "App has crashed after tapped item on sponsor page, if all of browser apps had been disabled"
**Overview (Required)**
- App has crashed with following exception after tapped item on sponsor page, if all of browser apps had been disabled:

[code]

**Steps To Reproduce**

1. Disable all of browser apps via System Settings
2. Open sponsor page on this app
3. Tap any one of the sponsor items

**Expected behavior**
Notify user to enable browser app to open it.

**Env:**
 - Device: Pixel 3a emul

[2020-01-18 14:08] takahirom commented on #402
Thanks! I think we should try-catch!

[2020-01-18 14:13] t-kashima commented on #397
🙋‍♂️

[2020-01-18 14:14] k3nsuk3 opened #406 "Hardly see the MY PLAN's BottomSheet expand icon when app running on dark theme"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Related to #396 , I didn't notice that bottom sheet layout for DAY1/DAY2 and MY PLAN are separated, sorry... 😢

 ## Links

-

## Screenshots

Pixel 3a emulator, Android 9, API 28

|Dark|Light|
|:---:|:---:|
|![current-dark](https://user-images.githubusercontent.com/4849408/72665038-1ace3780-3a48-11ea-80e8-ede9a1e8a6ee.png)|![current-lig

[2020-01-18 14:15] k3nsuk3 commented on #406
I want to fix it, too! 🙋🏻‍♂️

[2020-01-18 14:19] roana0229 commented on #406
Awesome! I didn't notice too.
Assigned 👍

[2020-01-18 14:29] FujiKinaga commented on #397
@t-kashima
Thanks!
Assigned!👍

[2020-01-18 14:37] umechanhika opened #407 "Speakerless sessions are always shown when some filter selected"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

Speakerless sessions are always shown when some filter selected.
I think it is better not to be displayed.
What do you think about this?

 ## Example
Select "Hardware" filter.
![screenshot1](https://user-images.githubusercontent.com/47149507/72665336-b9f42e80-3a4a-11ea-9fed-d0cf24d17549.png)

Speakerless sessions are shown.
![sc

[2020-01-18 14:47] #394 closed

[2020-01-18 14:48] #406 closed

[2020-01-18 15:17] #168 closed

[2020-01-18 15:28] #384 closed

[2020-01-18 15:39] takahirom commented on #407
I think it would be helpful if lunch etc. were displayed as it was relevant to everyone.
Please let me know if you have any opinions.

[2020-01-18 15:47] takahirom commented on #359
Thanks! Can you use `AppcompatRId`? Because Android engineers are used to R.

[2020-01-18 15:55] rockun1 commented on #359
Thank you for your reply!

OK, use `AndroidR*` and `AppcompatR*` .

[2020-01-18 15:55] takahirom opened #413 "Make view binding isHide to isInvisible"
## Kind (Required)

- Improvement

 ## Overview (Required)

There is binding. But when `show` is true, the view becomes visible 😭
Can you use AndroidX isInvisible in that method?
And Can you change Hide to isInvisible?

[code]

[code]

 ## Links

-

[2020-01-18 16:15] #390 closed

[2020-01-18 16:16] sasakitomohiro commented on #413
🙋‍♀️

[2020-01-18 16:17] FujiKinaga commented on #413
@sasakitomohiro
Thanks! Assigned 👍

[2020-01-18 16:42] #397 closed

[2020-01-18 17:03] takahirom opened #415 "Use onViewCreated instead of onActivityCreated for AboutFragment"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We use onViewCreated for binding view data

 ## Links

- https://android-review.googlesource.com/c/platform/frameworks/support/+/1189651

[2020-01-18 17:34] akihito-okada commented on #415
🙋

[2020-01-18 18:01] roana0229 commented on #415
Assigned 👍

[2020-01-18 19:24] roana0229 opened #418 "Fix sessions are displayed after changing filters"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Sessions is hide when collapsed.
- But sessions are displayed after changing filters.

<img src=https://user-images.githubusercontent.com/6636072/72669270-f9367580-3a72-11ea-9ca9-cc190b779a8d.gif  width=50%>

<img src=https://user-images.githubusercontent.com/6636072/72669305-8679ca00-3a73-11ea-817c-7452c9e2354e.png  width=50%>

 ## Lin

[2020-01-18 19:31] roana0229 opened #419 "Use binding adapter at session time summary"
## Kind (Required)

- Improvement

 ## Overview (Required)

- see `FIXME` comment
- https://github.com/DroidKaigi/conference-app-2020/blob/600dc20edce5ac1e900fb1fe2bf1252ce5622800/feature/session/src/main/res/layout/item_speaker_session.xml#L88
- https://github.com/DroidKaigi/conference-app-2020/blob/600dc20edce5ac1e900fb1fe2bf1252ce5622800/feature/session/src/main/res/layout/fragment_session_deta

[2020-01-19 02:20] umechanhika commented on #407
These sessions have no relationship with selected filter, so I thought it is better not to be displayed.
But I saw your opinion, I agreed it.
These are helpful understanding timeline.

Thank you your opinion!

[2020-01-19 02:27] umechanhika commented on #419
🙋

[2020-01-19 02:50] FujiKinaga commented on #419
@umechanhika
Thanks! Assigned! 👍

[2020-01-19 03:25] mkano914 commented on #115
Hi @roana0229, what does the number next to the profile image represent? Is it like a rank in the order of who has contributed the most?

Looking at the API response, I see `sort`, but it seems to be a unique number at the moment. In the cases of Kendasha Wood and Sun Jun in your design comp, there are no numbers next to them because they are all supposed to have `sort` value of 3?
https://deploy-

[2020-01-19 03:25] mkano9 commented on #115
Hi @roana0229, what does the number next to the profile image represent? Is it like a rank in the order of who has contributed the most?

Looking at the API response, I see `sort`, but it seems to be a unique number at the moment. In the cases of Kendasha Wood and Sun Jun in your design comp, there are no numbers next to them because they are all supposed to have `sort` value of 3?
https://deploy-

[2020-01-19 03:47] umechanhika commented on #419
I faced a problem.

`com.soywiz.klock.TimezoneOffset` class is written using kotlin inline class. This class wrap double type value.
`SpeechSession#timeSummary(Lang, TimezoneOffset)` method convert to `SpeechSession#timeSummary(Lang, double)` when kotlin converted to java.
And also method name is changed `timeSummary` to `timeSummary-PjeVyQw`.
So it occurs compile error.
[code]

I found stackoverf

[2020-01-19 04:12] umechanhika commented on #418
🙋

[2020-01-19 04:17] yurihondo commented on #418
Thanks!! Assigned:D

[2020-01-19 05:27] #413 closed

[2020-01-19 05:54] roana0229 commented on #115
@mkano9 Hi 😄

Contributor number is [this page](https://github.com/DroidKaigi/conference-app-2020/graphs/contributors) rank.

I'm sorry. API response is WIP.
All contributor has rank and display `sort` numbers after 3 too.

Please feel free to ask us if you have any questions 👍

[2020-01-19 06:00] mkano9 commented on #115
Thanks for the clarification. I will display `sort`.

[2020-01-19 06:12] umechanhika opened #423 "ProgressBar isn't shown in announcement page when this page opened for the first time"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It shows empty view "No announcement".
- I think it is prefer showing ProgressBar when this page opened for the first time.

 ## Gif
![record](https://user-images.githubusercontent.com/47149507/72675861-e3a26980-3acd-11ea-8078-1a88dccc3cc8.gif)

[2020-01-19 06:27] takahirom commented on #393
For reference, you do not need to change the tap area. I just want to move the line as the BottomSheet scrolls.
I think MotionLayout can be used for this.

[2020-01-19 06:31] kkt-yu opened #424 "Sometimes, when returning from session details, the scroll position of the session list is reset"
**Overview (Required)**
- Sometimes, when returning from session details, the scroll position of the session list is reset

**Steps To Reproduce**

1. Go to session details.
2. Return session list.
3. Sometimes,reload and reset position of session list.

**Expected behavior**
Don't reload and reset position.

**Screenshots**
N/A

**Env:**
 - Device: Xperia 10
 - OS: 9.0
 - master

[2020-01-19 06:34] takahirom opened #425 "When not adaptive icon, The icon is too big"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We can use image from figma assets
![image](https://user-images.githubusercontent.com/1386930/72676138-2f0a4700-3ad1-11ea-95f4-cca03b83c595.png)

 ## Links

-

[2020-01-19 06:41] nukka123 commented on #132
I propose to use `AppCompatResources.getColorStateList()`.
It can resolve style attributes even if below Android M.
We can keep aware a color theming.
Please check the PR.

[2020-01-19 06:44] #359 closed

[2020-01-19 07:49] k3nsuk3 commented on #419
@umechanhika

You may have encountered this: https://stackoverflow.com/a/54240323
I'm not familiar about it. I implemented below method into Session class and could be able to compile.

[code]

But I don't want to write it because I feel it's redundant.
I want to know how to solve this in right way. 🤔

[2020-01-19 08:03] takahirom opened #429 "Thumbs-up function"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- We are showing thumbs-up instead of a session survey.
- We have set up the necessary Firestore rules for it.
- Please let us know if you have any missing rules or security issues.

[code]

- I think that the user can press the button any number of times. (Cannot be canceled.) Like medium crap.
- Regarding the creation of Fires

[2020-01-19 08:06] orimomo commented on #171
@takahirom @jmatsu
I think this issue can be closed,  but what do you think?

[2020-01-19 08:26] takahirom commented on #171
@orimomo Thank you for reporting.
I checked this. Probably it is fixed! Thanks!

[2020-01-19 08:26] #171 closed

[2020-01-19 08:28] #381 closed

[2020-01-19 08:38] #164 closed

[2020-01-19 08:50] #418 closed

[2020-01-19 09:03] #388 closed

[2020-01-19 09:10] umechanhika commented on #419
@k3nsuk3

Thank you for your proposed!
I tried it and confirmed that it works properly.

I think so too.
At the moment there is no other way, so I would like to proceed with the implementation your proposed.

[2020-01-19 09:10] takahirom commented on #38
Closed by https://github.com/DroidKaigi/conference-app-2020/issues/429

[2020-01-19 09:10] #38 closed

[2020-01-19 09:11] takahirom commented on #47
I think this feature does not need design

[2020-01-19 09:11] #47 closed

[2020-01-19 09:13] yiwaisako commented on #425
🙋

[2020-01-19 09:13] takahirom commented on #43
@eyedol The design is uploaded 😄

[2020-01-19 09:14] takahirom commented on #425
Thanks! Assigned 👍

[2020-01-19 09:18] takahirom commented on #118
Thanks Assigned 👍

[2020-01-19 09:30] eyedol commented on #43
Great, 👍  it's the one uploaded to Figma right?

[2020-01-19 09:33] takahirom commented on #43
You can check this 😄 You can download the map image from it. If you login figma.
Note: The image is not fixed yet
https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=847%3A104

[2020-01-19 09:34] iaia commented on #402
I'll try this issue.

[2020-01-19 10:05] #419 closed

[2020-01-19 10:06] #402 closed

[2020-01-19 10:14] takahirom commented on #40
Now we can access the Design!!

[2020-01-19 10:21] eyedol commented on #43
Will there be different floors? Like will it need to be paginated?

[2020-01-19 10:33] TaigaNatto commented on #40
@takahirom
really!? i want to try this issue !

[2020-01-19 10:33] FujiKinaga opened #436 "Change specific chip's color in session detail screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- To check session's better important information, some chips should be changed color from the other chips color.
    -Please change color about `language` and `for beginner` chips.

 ## Image
<img width="341" alt="スクリーンショット 2020-01-19 19 32 33" src="https://user-images.githubusercontent.com/27717556/72679443-78b75980-3af2-11ea-83c1-a360c

[2020-01-19 10:34] FujiKinaga commented on #40
@TaigaNatto
Of course!!
Assigned👍

[2020-01-19 10:39] FujiKinaga opened #437 "Apply search screen design"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says everything.
    - But don't need create detail function in this issue. (ex. function that can search by voice)

 ## Links

- https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=842%3A907

[2020-01-19 10:43] FujiKinaga opened #438 "Search sessions or speakers by your voice in search screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says everything!

 ## Links
- Figma
    - https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=842%3A907

## Image
<img width="228" alt="スクリーンショット 2020-01-19 19 40 42" src="https://user-images.githubusercontent.com/27717556/72679556-bd8fc000-3af3-11ea-9694-21d835d3aad2.png">

[2020-01-19 10:43] gen0083 commented on #424
I cannot know the cause yet, but I found a way to reproduce it.

1. scroll and open session detail.
2. repeat scroll up/down some times. (it's enough to scroll BottomAppBar)
3. back session list then reload and move to top of session list.

![reproduce_step 2020-01-19 19_38_14](https://user-images.githubusercontent.com/7608725/72679535-76093400-3af3-11ea-8dba-2d45071807ba.gif)

[2020-01-19 10:54] FujiKinaga opened #439 "Apply navigation view design"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We can change padding between icon and title.
- We can change some icons.

 ## Screenshot
Currently | Design
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72679732-625ecd00-3af5-11ea-8393-123c64087035.png" width="300" /> | <img src="https://user-images.githubusercontent.com/27717556/72679733-62f76380-3af5-11ea

[2020-01-19 11:04] FujiKinaga commented on #387
@a25max
Hi.
This problem seems to be fixed by #404 😭
It's so sorry, but we are looking forward to your contribution in next issue...!

[2020-01-19 11:04] #387 closed

[2020-01-19 11:04] ttanaka330 commented on #436
🙋‍♂

[2020-01-19 11:07] phicdy commented on #44
@takahirom
Hi, I'm interested in this issue. I checked the figma and have some question about this issue.

- Is What should I do just set map svg in the center of the screen ?
- What do you mean the location icon ? Can I ignore it ?

![Screenshot from 2020-01-19 20-03-22](https://user-images.githubusercontent.com/1650277/72679861-cd5cd380-3af6-11ea-86b3-f8b4505a8b10.png)

- I think we can delete [

[2020-01-19 11:11] FujiKinaga opened #441 "Change to use vertical chain style and change scrollable in my plan's empty view"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This empty view should locate center position with a little top margin.
- We can't view screen because of non-scrollable😭

 ## Screenshot
![device-2020-01-18-180302](https://user-images.githubusercontent.com/27717556/72661404-ce213700-3a1c-11ea-95f0-2b12a714b7bb.png)
<img src="https://user-images.githubusercontent.com/27717556/72679945-

[2020-01-19 11:12] FujiKinaga commented on #436
@ttanaka330
Thanks! Assigned 👍

[2020-01-19 11:20] FujiKinaga opened #442 "Apply session item design in timeline screens"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please remove button of session's feedback.
- Please add session time left of hall name.
- etc...

 ## Links

- Figma
    - https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=4%3A2

## Screenshot
Currently | Design
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72680078-09913380-3af9-11ea-8404-afbb56

[2020-01-19 11:23] FujiKinaga opened #443 "Remove button of session's feedback in session detail screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says everything😄

## Links
- Related to #429

 ## Screenshot
<img src=https://user-images.githubusercontent.com/27717556/72680113-82908b00-3af9-11ea-8e4e-602a513a8b17.png width=300 />

[2020-01-19 11:31] hanadaUG commented on #443
🙋‍♂

[2020-01-19 11:45] FujiKinaga commented on #443
@hanadaUG
Thanks! Assigned👍

[2020-01-19 11:48] yurihondo opened #444 "Should add few margin to a end of announcement item"
## Kind (Required)
Improvement

 ## Overview (Required)
I think that it should add few margin to a end of announcement item.
(Especially when "Read more" is displayed.)

 <img src="https://user-images.githubusercontent.com/33515193/72680351-427ed780-3afc-11ea-8b2d-3a148b81373f.png" width="320px">

 ## Links

[2020-01-19 12:10] FujiKinaga opened #445 "Realize material animation like Motion app"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Animation with displaying list by [List > Stagger](https://github.com/android/animation-samples/tree/master/Motion/app/src/main/java/com/example/android/motion/demo/stagger),
    - ex. contributors or staffs screens.
<img src=https://raw.githubusercontent.com/android/animation-samples/master/Motion/screenshots/stagger.gif widt

[2020-01-19 12:18] FujiKinaga opened #446 "Change filter state label in each timeline screens"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Change the label depending on whether you are filtering.

 ## Screenshot
Not filtered | Filtering
:--: | :--:
<img src="https://user-images.githubusercontent.com/27717556/72680778-16b22080-3b01-11ea-9d4f-7247b8ee5a1c.png" width="300" /> | <img src="https://user-images.githubusercontent.com/27717556/72680779-16b22080-3b01-11ea-8a3e-6c85c

[2020-01-19 12:31] ttanaka330 commented on #436
I have a question.
How do I check `for beginner`?

I looked at the data, but it doesn't seem to get the levels from the timetable...

[2020-01-19 13:32] #443 closed

[2020-01-19 13:52] takahirom commented on #43
There is only one floor. But the floor is wide. 👀

[2020-01-19 13:59] #249 closed

[2020-01-19 14:15] a25max commented on #387
@FujiKinaga I see. I'll try another issue.

[2020-01-19 14:21] a25max commented on #446
I want to try it.

[2020-01-19 14:23] a25max commented on #442
I want to try it.

[2020-01-19 14:25] matsujun commented on #446
Thanks!
Assigned 👍

[2020-01-19 14:49] matsujun commented on #442
Assigned ! 🚀

[2020-01-19 16:03] shinya-takano commented on #441
🙋‍♂ OK?

[2020-01-19 16:04] roana0229 commented on #441
Of course, assigned 👍

[2020-01-19 16:06] yuta24 commented on #136
I try 🙋‍♂

[2020-01-19 16:07] roana0229 commented on #136
Assigned 👍

[2020-01-19 16:26] #124 closed

[2020-01-19 17:16] takahirom opened #454 "Use targetSdkVersion 29 and compileSdkVersion 29"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is no reason why it is currently API Level 28, and I just forgot it. 😄

 ## Links

-

[2020-01-19 17:24] tatsuya-okayama commented on #454
I want to try it !! 🙋‍♂

[2020-01-19 17:30] roana0229 commented on #454
Of course, assigned 👍

[2020-01-19 22:16] #122 closed

[2020-01-19 23:29] ujikawa commented on #444
🙋‍♂

[2020-01-19 23:33] entaku19890818 commented on #137
Can I try it?

[2020-01-19 23:36] yurihondo commented on #444
Thanks,  Assigned!!

[2020-01-19 23:40] yurihondo commented on #137
Yes of course!
Thanks! Assined:D

[2020-01-20 00:17] ho2ri2s commented on #361
I did #360 .
I also want to challenge #361 🙋‍♂️

[2020-01-20 00:25] e10dokup commented on #361
@ho2ri2s Thanks! We assigned this issue to you! :bowing_man:

[2020-01-20 00:38] #289 closed

[2020-01-20 01:11] #360 closed

[2020-01-20 01:35] takahirom opened #457 "Travis CI fail (release build fail)"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This script run on CI
- .travis/android/script.bash

[code]

 ## Links

-

[2020-01-20 01:41] nano-nano commented on #439
I'll try to do this issue.✋
Where are icon's resource files?
And is layout spec below link?
https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=21%3A543

このissueをやりたいのですが、新しいアイコンのリソースはどこにあるでしょうか？
それと、paddingの指定があるレイアウトの仕様は上記リンクのもので合ってますでしょうか？

[2020-01-20 01:43] takahirom commented on #439
Thanks!
If you log in, I think you can download images 👀

Yes

[2020-01-20 01:58] takahirom commented on #457
Probably we should revert this 😭
https://github.com/DroidKaigi/conference-app-2020/pull/414

[2020-01-20 02:33] takahirom commented on #457
https://github.com/google/dagger/issues/814#issuecomment-316016739

[2020-01-20 02:38] takahirom commented on #457
It seems a little difficult to fix, so I want to revert for the time being.

[2020-01-20 02:40] #454 closed

[2020-01-20 03:12] #457 closed

[2020-01-20 03:29] chibatching commented on #457
oh... 😢

[2020-01-20 04:08] sobaya-0141 commented on #438
🙋‍♂

[2020-01-20 04:17] takahirom commented on #438
Assigned📢

[2020-01-20 04:53] kazaman97 commented on #393
🙋‍♀️

[2020-01-20 04:59] roana0229 commented on #393
Assigned 👍

[2020-01-20 05:02] jmatsu opened #462 "Changes on CI for contributors"
## Kind (Required)

- Improvement

 ## Overview (Required)

I want to apologize for inconvenient CI stuff to contributors all.

We had been using CircleCI for the purpose since last year though, we couldn't use it because of some internal reasons. As an alternative, we have chosen GitHub Actions actually but, as of this project, it is not suitable for contributors, unfortunately.

We may need to p

[2020-01-20 07:05] souta0104 commented on #103
I could not reproduce this bug.
I guess it is probably fixed in the latest version.

[2020-01-20 07:20] ushi3 opened #463 "When the navigation drawer is displayed, the status bar suddenly goes dark"
**Overview (Required)**

In MainSessionsFragment, pull out Drawer manually. Will see the status bar suddenly goes dark.

**Steps To Reproduce**

1. Stay MainSessionsFragment
2. Pull out Drawer
3. Status bar suddenly goes overlaid dark

**Expected behavior**
If it's clear

**Screenshots**

![ezgif-3-6df24ba14f95](https://user-images.githubusercontent.com/1962232/72704870-3eef5d00-3b9d-11ea-98c7-0a4

[2020-01-20 08:44] #462 closed

[2020-01-20 08:57] kazaman97 commented on #393
I'm sorry.
I can't understand the meaning of this problem so much.
I want you to tell me a problem in detail.🙇🏻‍♂️

[2020-01-20 09:04] ytRino opened #465 "Dark theme does not properly saved"
**Overview (Required)**
- Dark theme setting is not saved so theme is set on every launch.

**Steps To Reproduce**

1. Launch app with system dark setting is off.
2. Open setting and set to dark.
3. Dismiss app from history.
4. Launch app again. App is light theme.

**Expected behavior**
Dark theme is set.

**Env:**
 - Device: Pixel3 XL
 - OS: 10
 - App Version or the branch: master

**Additional

[2020-01-20 09:15] jmatsu commented on #393
@takahirom cc: @rwadada
Could you please provide more information like the current *unexpected* behavior and the *expected* state?

[2020-01-20 09:20] ytRino opened #466 "Behave consistent around dark theme"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- Currently app is themed with system settings (related: #465) on launch. It seems to behave like `MODE_NIGHT_FOLLOW_SYSTEM` so switching system dark settings updates switch in app as well.
- However, once check/uncheck the dark theme switch, it behaves as MODE_NIGHT_YES/MODE_NIGHT_NO. At that time, switching system dark settings

[2020-01-20 09:26] rnitame commented on #437
🙋‍♂

[2020-01-20 09:26] yurihondo commented on #437
Thanks! Assigned 🙏

[2020-01-20 09:31] ytRino opened #468 "Chip text color for dark theme"
## Kind (Required)
- Improvement

 ## Overview (Required)
- It looks text color for selected filter chips are little hard to read. Same color with light theme looks fine for me.

![image](https://user-images.githubusercontent.com/1487505/72714660-6e5c9480-3bb2-11ea-890f-fe453eb0fd3c.png)

[2020-01-20 10:10] dongheeleeme commented on #468
Can i was assigned this ticket? :)

[2020-01-20 10:15] yurihondo commented on #468
Yes, of course! Thanks!!
Assigned 🙏

[2020-01-20 10:32] Luecy1 commented on #101
I have a question.
How to implement MainActivity call SearchSessionsFragment method in DroidKaigi 2020 's architecture?
I want to transmission from SearchView's onQueryTextChange to searchSessionsViewModel.updateSearchQuery.

[2020-01-20 11:15] ham-burger commented on #463
@ushi3
I think, time text become gone if Status bar would be clear when Drawer opened.
Is that OK?

[2020-01-20 11:18] ham-burger commented on #463
![Screenshot_20200120-201515](https://user-images.githubusercontent.com/25279469/72722513-db2b5b00-3bc1-11ea-826e-ce481f33f3f9.png)

[2020-01-20 12:46] rwadada commented on #393
@kazaman97
Sorry for lack of information 🙇

At present, when you open the Filter screen (close the Session screen) when GestureNavigation is enabled , there is a blank space at the bottom where there is no response.

For this issue, if GestureNavigation is enabled, I think it is necessary to change the position of the line "divider" on the session screen (fragment_bottom_sheet_sessions) to 48dp be

[2020-01-20 13:03] #380 closed

[2020-01-20 13:15] rwadada opened #472 "Crash when tapping multiple Items at the same time on Sessoion screen"
**Overview (Required)**
- Crash when tapping multiple Items at the same time on Sessoion screen

**Steps To Reproduce**

1. Open Session screen.
2. Tap multiple session items on the same time.
3. Release multiple session items on the same time.
4. Crash!

**Expected behavior**
Transition to SessionDetail screen of either Item and do not crash

**Screenshots**
<img src="https://pbs.twimg.com/media/

[2020-01-20 14:04] mkw8263 opened #475 "Remove unused code"
## Kind (Required)

Choose the suitable template if exists.

- Remove unnecessary code

 ## Overview (Required)

- I've removed some unnecessary code removal

[2020-01-20 14:11] #475 closed

[2020-01-20 14:17] #361 closed

[2020-01-20 14:44] #439 closed

[2020-01-20 14:44] kazaman97 commented on #393
@rmakiyama @jmatsu
Thank you for telling me🙇🏻‍♂️
I understand the meaning of the issue and work on the issue!

[2020-01-20 14:52] umechanhika commented on #472
🙋

[2020-01-20 14:55] jmatsu commented on #393
Thank you all! We are looking forward to your contribution.

[2020-01-20 15:22] #407 closed

[2020-01-20 15:25] tatsuya-okayama commented on #423
I want to try it !! 🙋‍♂

[2020-01-20 15:26] FujiKinaga commented on #423
@tatsuya-okayama
Thanks!! Assigned 👍

[2020-01-20 16:04] umechanhika opened #484 "Fading animation is delayed when bottom sheet expanded."
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is a difference in the way of delay depending on how to operate.
- When you tapped the `expand_less` icon to expand bottom sheet, recyclerView appears dimmed and it appears correct after a few seconds.
- When you swiped the bottom sheet header to expand bottom sheet, recyclerView doesn't appear and it appears after a few seconds.

[2020-01-20 16:06] #472 closed

[2020-01-21 00:27] #134 closed

[2020-01-21 00:56] ry-itto opened #488 "iOS App session detail"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- To see session's detail information.
- Can be transitioned from session list view.

 ## Links
- [Design - Session](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=20%3A18)
- [Design - Session(Enabled)](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=21%3A289)

[2020-01-21 01:00] ry-itto opened #489 "iOS App sidebar"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- Create a sidebar that can move to other view.

 ## Links
- [Design](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=21%3A543)
- [Navigation Drawer](https://material.io/components/navigation-drawer/)
  - ~[iOS](https://material.io/develop/ios/components/navigation-drawer/)~
    - ~[Example](https://github.com/Luis1A

[2020-01-21 01:04] ry-itto opened #490 "iOS App filter view"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- Create filter view that can filter sessions.

 ## Links
- [Design](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=11%3A625)
- ~[Chips](https://material.io/components/chips/)~
  - ~[iOS](https://material.io/develop/ios/components/chips/)~
- Please try to use CosmicMind/Material's Chips
  - [Sample](https://github.c

[2020-01-21 01:09] ry-itto opened #491 "iOS App speaker view"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- A view that can see speaker's detail information.
- Can be transitioned from sessions list view and search view

 ## Links

- https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=21%3A395

[2020-01-21 01:13] #118 closed

[2020-01-21 01:14] #132 closed

[2020-01-21 01:14] ry-itto opened #492 "iOS App search view"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- A view that can search sessions and speakers.

 ## Links
- [Design - brank](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=842%3A907)
- [Design - result](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=842%3A1207)
- Please try to use [CosmicMind/Material's SearchBar](https://github.com/CosmicMind/Mat

[2020-01-21 01:18] ry-itto opened #493 "iOS App contributor view"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- A view that shows contributors

 ## Links
- [Design](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=22%3A402)

[2020-01-21 01:19] ry-itto opened #494 "iOS App sponsor view"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- A view that shows sponsors.

 ## Links
- [Design](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=22%3A507)

[2020-01-21 01:24] takahirom commented on #465
Thanks! I forgot this issue 😄
https://github.com/DroidKaigi/conference-app-2020/pull/95#issuecomment-573287085
![relaunch](https://user-images.githubusercontent.com/1386930/72199862-897a2680-3485-11ea-859e-44adced9bc42.gif)

[2020-01-21 01:27] ry-itto opened #495 "iOS App about DroidKaigi view"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- A view that shows some links and some informations.

 ## Links

- [Design](https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=842%3A1376)

[2020-01-21 01:31] FujiKinaga opened #496 "Rename search screen classes"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently it's named as `SearchSessions`. But we are also able to search speakers in this screen.
    - Please rename `SearchSessions` to `Search` in all files.
- It must be born a lot of conflicts so should not contribute yet😅

 ## Links

-

[2020-01-21 01:31] ry-itto opened #497 "iOS App favorite session"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
- Create a process that can add session to user's favorite

 ## Links
-

[2020-01-21 01:40] mkw8263 commented on #496
I want to try :)

[2020-01-21 01:42] ytRino commented on #465
@takahirom 👍 Then if you interested  in #466 , I will do it along with this.

[2020-01-21 01:45] FujiKinaga commented on #496
@mkw8263
Thanks! Assigned 👍
I think that this pr will ready when #437 is merged.
So I throw a mention at you when you're ready to work with `welcome contribution` label😄

[2020-01-21 01:48] takahirom commented on #466
It's a bit confusing to the user, so it may not be necessary at the time of release. However, once you add that function, you can clarify the dark mode movement, so it may be clear what to do.

[2020-01-21 01:49] takahirom commented on #466
Ideally, if you change from the settings of DroidKaigi, you should give priority to the settings of DroidKaigi, and until you change it, it is better to give priority to the settings of the system. 👀

[2020-01-21 01:50] takahirom commented on #466
@ytRino Please tell your opinion. 🙏

[2020-01-21 02:28] ytRino commented on #466
yes, I intended what you said maybe. I'm planing that of Gmail app.
![image](https://user-images.githubusercontent.com/1487505/72769565-7b26ca00-3c3e-11ea-976a-38c25eeb10cc.png)
Both dark/light is app overridables and default is system dependent.
If we implement #465 without this, we can no longer have system dependent once user switched it in app.
What user will see in preferences screen in app (

[2020-01-21 02:32] takahirom commented on #466
LGTM! 👍

[2020-01-21 02:35] ytRino commented on #466
Thanks! I'll continue working on this.

[2020-01-21 03:05] kkt-yu opened #498 "Home button is difficult to see in dark Theme."
## Kind (Required)

- Improvement

 ## Overview (Required)

-  Home button is difficult to see in dark Theme.
- For example, change to white

## Screenshot
<image src="https://user-images.githubusercontent.com/41291352/72772919-baf2af00-3c48-11ea-9c33-89e7af50dadf.jpg" width="300px">

[2020-01-21 03:12] KeithYokoma commented on #498
@kkt-yu Thank you for reporting the issue 🎉

By the way, could you put a screenshot here so that everyone can have an idea where the issue exists?

[2020-01-21 03:20] S-Shimotori commented on #498
Thank you for your feedback!

I guess Dark __Theme__ is better because this repository includes iOS project.

[2020-01-21 03:23] koogawa opened #499 "iOS App Hardly see the status bar"
## Kind (Required)

- Improvement

 ## Overview (Required)

The colors of the font on the status bar and the status bar background are similar, making it difficult to see.

<img src=https://user-images.githubusercontent.com/893643/72772896-a2829480-3c48-11ea-869a-205995b104ff.png  width=50%>

I think it is better to improve like the following.

<img src=https://user-images.githubusercontent.com/89

[2020-01-21 03:23] koogawa commented on #499
I want to try ✋

[2020-01-21 03:24] kkt-yu commented on #498
Thank you some feedbacks.

[2020-01-21 03:26] S-Shimotori commented on #499
I assigned. Thank you.

[2020-01-21 03:37] KeithYokoma opened #500 "SearchView keep obtaining focus even if a user close the keyboard with back button"
**Overview (Required)**
- SearchView keeps obtaining view focus after a back button press so a user cannot close the keyboard, or back to the session list screen with the back button in the system UI or the back gesture.

**Steps To Reproduce**

1. Go to the search screen.
2. SearchView gets focus so that the keyboard comes up.
3. Press the back button to close the keyboard.
4. SearchView immediat

[2020-01-21 03:45] takahirom commented on #500
![back](https://user-images.githubusercontent.com/1386930/72773829-c1cef100-3c4b-11ea-87ca-da8add10ba37.gif)

[2020-01-21 03:47] KeithYokoma commented on #500
@takahirom Thanks, that's what I'm talking about...

[2020-01-21 04:15] jmatsu opened #503 "Import ordering rule of ktlint should be disabled due to the difference between AS and ktlint"
**Overview (Required)**
- Sometimes Ktlint reports issues based on the rule but AndroidStudio's optimize imports feature cannot fix them, unfortunately.

Please read https://youtrack.jetbrains.com/issue/KT-10974 and https://github.com/pinterest/ktlint/issues/527 for more details.

**Steps To Reproduce**

You can see this problem in MainActivity

**Expected behavior**

Issues should be reported bas

[2020-01-21 04:31] KeithYokoma opened #505 "[Crash report] Lateinit property `textLayout` is not initialized at FilterChip#onDraw L291"
**Overview (Required)**
- Crash on resuming session list screen, caused by accessing lateinit property `textLayout` without initialization in FilterChip.
  - `textLayout` is initialized at `onMeasure` procedure.
  - seems like there's a path to call `onDraw` without initializing `textLayout`.

**Steps To Reproduce**

It's not consistently reproducible but I have observed the issue several times wi

[2020-01-21 04:42] KeithYokoma commented on #505
Stacktrace:
[code]

[2020-01-21 05:01] kouhon opened #506 "SearchView flickers when click search view delete button if not entered."
**Overview (Required)**
- Same as title

**Steps To Reproduce**

1. Go to Search Screen
2. Click on delete button of search view.

**Expected behavior**
Do not searchView flickers.

**Screenshots**
https://github.com/DroidKaigi/conference-app-2020/issues/506#issuecomment-576524470

**Env:**
 - Device: Pixel3xl
 - OS: 10
 - App Version: DeployGate #130

[2020-01-21 05:08] takahirom commented on #393
@rwadada Thank you 🙏

[2020-01-21 05:30] kouhon commented on #506
![output](https://user-images.githubusercontent.com/1890628/72777896-7f60e080-3c5a-11ea-9f56-1c4fa36e2f79.gif)

[2020-01-21 05:39] KeithYokoma commented on #506
Thanks for reporting the issue!
It looks like this issue is similar to https://github.com/DroidKaigi/conference-app-2020/issues/500, so probably we can resolve #500 and #506 with one resolution 😎

[2020-01-21 06:42] kako351 opened #508 "Session share"
## Kind (Required)

- Improvement

 ## Overview (Required)

Implement the sharing function.

![Screenshot_20200121-153807](https://user-images.githubusercontent.com/33022494/72781238-27c77280-3c64-11ea-890f-2e34aad455ef.png)

Example URL

[code]

 ## Links

-

[2020-01-21 06:49] kako351 commented on #508
Because release the timetable,I raise this issue. And I want to try this issue. 🙋

[2020-01-21 06:57] S-Shimotori commented on #508
Thank you, I assigned.

[2020-01-21 08:03] kkt-yu commented on #424
Maybe if you open it for more than 5 seconds ,it reproduce
Operation does not matter.

[2020-01-21 08:09] ushi3 commented on #463
I see.

I would choice, dark overlay status bar.
However, for this project we must respect the opinions of main contributors and designers.
Sorry, I have no right about this.

@takahirom @chihokotaro

[2020-01-21 12:23] #444 closed

[2020-01-21 12:29] #329 closed

[2020-01-21 12:36] ShotaKashihara opened #514 "iOS App build fails"
**Overview (Required)**
- iOS App のビルドに失敗します

**Steps To Reproduce**

1. Clone the repository. commit: https://github.com/DroidKaigi/conference-app-2020/commit/a3be5cb767dd6383c0e830d92f1cb3704088f4dd
1. Build Android app with Android Studio 3.6. (This step may not be necessary.)
1. Run `make init` in the iOS App directory and open the workspace.
[code]
4. Run `Build`
5. See error
[code]

**Env:**

[2020-01-21 12:36] yamacraft opened #515 "Empty favorite session TextView is cut in half with a large font."
## Kind (Required)

- Improvement

 ## Overview (Required)

- layout_height of TextView is set at a fixed value.
- Text are cut off depending on the font size.

 ## Screenshot

show layout bounds | font large size
:-: | :-:
![device-2020-01-21-210604](https://user-images.githubusercontent.com/1332886/72805217-aee10e80-3c95-11ea-9088-94d765b89c3f.png) | ![device-2020-01-21-210754](https://user-imag

[2020-01-21 12:36] yamacraft commented on #515
I'll try to do this issue, ok?

[2020-01-21 13:03] yamacraft opened #518 "Lack of margins or padding in the Announce text."
## Kind (Required)

- Improvement

 ## Overview (Required)

- margin_start is set for the Announce item, but it feels like need to set it for margin_end or padding_end as well.

![device-2020-01-21-214257cut](https://user-images.githubusercontent.com/1332886/72807003-c4f0ce00-3c99-11ea-8beb-26ed6f7fd2e0.png)

 ## Links

-

[2020-01-21 13:06] phicdy commented on #44
Oh sorry, I missed #43... Please ignore my comment.

[2020-01-21 13:09] #514 closed

[2020-01-21 13:15] takahirom commented on #515
Thank you! Assigned!

[2020-01-21 13:35] KeithYokoma opened #520 "The front layer of the backdrop (session list) becomes empty and stays in the middle of the screen"
**Overview (Required)**
- When opening search screen from session list screen
  and come back to session list,
- The front layer of the backdrop (session list) becomes empty
  and it stays in the middle of the screen

I have a screen recording so that you can see what I get in detail.

**Steps To Reproduce**

1. Go to the search screen
2. Click back arrow in the search screen
3. See the backdrop s

[2020-01-21 15:01] yamacraft commented on #515
This fix has been fixed in #477.

[2020-01-21 15:01] #515 closed

[2020-01-21 15:02] yamacraft commented on #518
This fix has been fixed in #502 🙇

[2020-01-21 15:02] #518 closed

[2020-01-21 15:06] shinya-takano opened #525 "<a>tag text is not link"
**Overview (Required)**
- <a>tag text is not link

**Expected behavior**
I this <a>tag text is link text

**Screenshots**
![link_lost](https://user-images.githubusercontent.com/2821692/72816111-076ed680-3cab-11ea-9609-86cec82383ca.png)

**Env:**
 - Device: SHV43
 - OS: 9.0
 - App Version or the branch

**Additional context**
Any other notes

[2020-01-21 15:07] umechanhika commented on #41
🙋

[2020-01-21 15:08] mhidaka commented on #41
Thank you 😄  I Assigned you!

[2020-01-21 15:12] ytRino commented on #465
This is fixed in above PR. Thanks:+1:

[2020-01-21 15:12] #465 closed

[2020-01-21 15:16] #499 closed

[2020-01-21 15:28] shinya-takano commented on #441
already fixed this issue. please close this issue.

[2020-01-21 16:58] #313 closed

[2020-01-21 19:51] kouhon commented on #500
can i try fix this issue? ✋

[2020-01-21 21:46] TaigaNatto commented on #40
How much to implement on this issue ?

Should I wait for #41  to complete?

[2020-01-21 22:17] yanamura commented on #491
🙋‍♂️

[2020-01-21 22:44] FujiKinaga commented on #491
@yanamura
Thanks. Assigned 👍

[2020-01-21 22:45] FujiKinaga commented on #500
@kouhon
Thanks! Assigned!! 👍

[2020-01-21 23:52] takahirom commented on #40
Thanks! I was thinking about doing this issue first.🙏

[2020-01-22 00:36] TaigaNatto commented on #40
Thank you ! I try it early !

[2020-01-22 00:47] #446 closed

[2020-01-22 00:52] #43 closed

[2020-01-22 00:54] hirotakaakita commented on #520
I want to try it.

[2020-01-22 00:55] #500 closed

[2020-01-22 00:55] e10dokup commented on #520
@hirotakaakita Thanks! assigned 🙋

[2020-01-22 00:58] #115 closed

[2020-01-22 00:59] yanamura opened #531 "iOS Session Cell bottom margin when speaker is empty"
**Overview (Required)**
- When speaker is empty, SpeakerStackView height is not 0.

**Steps To Reproduce**

1. Go to 'SessionList'
2. See Welcome Talk Cell

**Expected behavior**
Welcome Talk cell's bottom margin become more short

**Screenshots**
![image](https://user-images.githubusercontent.com/875297/72856381-b4723f00-3cfd-11ea-9b3f-5d604433740e.png)

**Env:**
 - iOS

**Additional context**

[2020-01-22 00:59] yanamura commented on #531
I will fix it

[2020-01-22 01:04] e10dokup commented on #531
@yanamura Good Catch! We assigned this issue to you :bow:

[2020-01-22 01:16] takahirom opened #532 "Endress loading session list"
## Overview (Required)

- It doesn't seem to be displayed with the latest deploygate.👀

 ## Links

-

[2020-01-22 01:24] takahirom commented on #532
[code]

[2020-01-22 01:57] #532 closed

[2020-01-22 03:09] #425 closed

[2020-01-22 08:31] #531 closed

[2020-01-22 09:52] #160 closed

[2020-01-22 10:42] takahirom commented on #44
Sorry 🙇

[2020-01-22 10:42] #44 closed

[2020-01-22 12:28] #463 closed

[2020-01-22 14:05] shinya-takano commented on #525
if this issue is not bug.i close this issue.

but i think <a> tag should analyze link text

[2020-01-22 14:15] takahirom commented on #525
Thanks! I am talking with members🙏

[2020-01-22 14:37] shinya-takano commented on #498
I Changed to Trial white.
I think white is easy to see.
If there is no problem, i create pull request.

![white_change](https://user-images.githubusercontent.com/2821692/72903110-fc31ae80-3d6f-11ea-9f0c-89f12408b499.png)

[2020-01-22 15:04] syo-sa1982 commented on #318
英語で説明するのが難しいので日本語で失礼します。
現状困っている事があります。

Static Shortcutsを下記の内容で実装してアプリアイコンの長押しでショートカットは出現したのですが、「このアプリはインストールされていません」というメッセージが表示して起動しません。

やりたいこととしては、一旦MainActivityを起動してから目的のFragmentに遷移することを想定しています。

[android-base/src/main/AndroidManifest.xml](https://github.com/DroidKaigi/conference-app-2020/pull/467/files#diff-d3b2d65db1f86a3685e6017e57abf04a)
[code]

[corecomponent/androidcomponent/src/main/re

[2020-01-22 15:15] #340 closed

[2020-01-22 15:24] ttanaka330 commented on #436
To solve this issues, you must first specify `for beginner` in the session details.

The steps are as follows:
1. Perform a session table migration (add `levels` or `isForBeginneer` column).
2. Get `levels` from the timetable API.
3. Save the `levels` in the session table.
4. Display the "for Beginner" chip in SessionDetail.

After this, the chip is colored.
I want to do this too, is that OK?

The

[2020-01-22 16:27] takahirom commented on #318
How about this method?
Probably make a URL with  `https://droidkaigi.jp/2020/announcement` etc., And implement a deep link with navigation.

[code]

[code]

[2020-01-22 16:41] syo-sa1982 commented on #318
@takahirom
Thank you, I'll try🙏

[2020-01-22 17:36] takahirom commented on #525
We wanted the URL to be a link, but the tags didn't need to be interpretable. 🙏

[2020-01-22 23:10] koji-1009 commented on #445
✋

[2020-01-22 23:13] takahirom commented on #445
Thanks! Assigned🙏

[2020-01-22 23:30] takahirom commented on #498
Thanks for trying👍
I want to create an app that uses the entire screen, so I don't want to narrow the screen if possible.

[2020-01-23 00:11] takahirom opened #549 "Show session message"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We don't have a design yet, but we need to give the following message:
![image](https://user-images.githubusercontent.com/1386930/72945448-2ced0480-3dbf-11ea-9972-2a2eb7460ec4.png)
It's okay to just display it once, so I want to add it.

- You can use this message field
https://github.com/droidkaigi/conference-app-2020/blob/master/model

[2020-01-23 00:17] takahirom opened #550 "Unresolved reference in ApiModule"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to fix it. Probably a Kotlin MPP issue.
![image](https://user-images.githubusercontent.com/1386930/72946041-121b8f80-3dc1-11ea-9aa5-36cf550b7781.png)

 ## Links

-

[2020-01-23 00:30] takahirom opened #551 "Add pin for FloorMapFragment"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to be able to change the pin position depending on the room. (When open from the session)
![image](https://user-images.githubusercontent.com/1386930/72946666-e9949500-3dc2-11ea-83fe-9f2591f1967c.png)

- The map for this room will change later. You do not need to make any adjustments.
![image](https://user-images.githubusercontent

[2020-01-23 00:36] takahirom opened #552 "Add date for first session of day when SessionPage.Favorite"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/72946924-c28a9300-3dc3-11ea-8866-460f279f01e6.png)

 ## Links

-

[2020-01-23 00:40] takahirom opened #553 "Sometime session list is not shown"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It occurs when expand and collapse bottom sheet 🤔
![second_time_sessions](https://user-images.githubusercontent.com/1386930/72947066-3cbb1780-3dc4-11ea-9900-887b35563665.gif)

 ## Links

-

[2020-01-23 00:46] takahirom opened #554 "Add Event Tab for sessions"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now that data doesn't exist, but there are events that take place in "Exhibition".
- On this tab, the description appears to be displayed in the screen.
- There is no data for that yet, but the data of the room named Exhibition is included in the data of the list of Sessions.
![image](https://user-images.githubusercontent.com/1386930/72

[2020-01-23 00:53] takahirom opened #555 "Add license page"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There are options for this display method, such as using a library, but please choose freely. 😄

 ## Links

-

[2020-01-23 01:08] mkeeda commented on #429
Can I challenge this issue ? 🙋

[2020-01-23 01:11] takahirom commented on #429
Thank you! Please ask if you have anything 🔥

[2020-01-23 01:12] takahirom opened #556 "Remove session survey button"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We don't use a session survey for this year. So we want to remove that 📝

![image](https://user-images.githubusercontent.com/1386930/72948376-4cd4f600-3dc8-11ea-9db9-8fbeb51534fc.png)

 ## Links

-

[2020-01-23 01:39] #520 closed

[2020-01-23 02:11] hiroyuki-taguchi commented on #556
I want to try it!

[2020-01-23 02:11] takahirom commented on #556
Thanks! Assigned 👍

[2020-01-23 04:19] ry-itto commented on #489
I will try this ✋

[2020-01-23 04:27] rkonno commented on #555
Can I try it? 🙋‍♂️

[2020-01-23 04:46] KeithYokoma commented on #506
It seems the issue is resolved.

[2020-01-23 04:46] #506 closed

[2020-01-23 04:47] takahirom commented on #489
Thanks!Assigned🙏

[2020-01-23 07:10] Veget-ables commented on #551
Can I try it? 🙋🏼‍♀️

[2020-01-23 07:13] KeithYokoma commented on #551
@Veget-ables Thank you and go ahead!

[2020-01-23 07:18] Veget-ables commented on #551
@KeithYokoma  I'll try my best 🙏!

[2020-01-23 07:21] KeithYokoma commented on #551
@Veget-ables Feel free to ask anything to us here 👍

[2020-01-23 07:30] yurihondo opened #559 "Adjust the shadow at session list top"
## Kind (Required)
Improvement

 ## Overview (Required)
We found the wrong point for our design of this session list..
There is a feeling of strangeness that there is only a shadow under the divider....

Could you please make the following additional modification however
it goes beyond the scope of the origin issue... 🙇 ?

1. Please change the visibility of divider to invisible if list is scrolled

[2020-01-23 07:42] yurihondo commented on #559
I am assigned to this issue.

[2020-01-23 07:48] #198 closed

[2020-01-23 07:55] rnitame commented on #559
🙋‍♂

[2020-01-23 07:57] kouhon opened #560 "Dark theme chagne when tap Setting in Navigation drawer."
**Overview (Required)**
- The dark theme of the app is turned off when tap setting in menu, if device dark theme is set.

**Steps To Reproduce**
Please watch gif attached to screenshots.

**Expected behavior**
Dark theme change when tap dark theme switch.

**Screenshots**
![device-2020-01-23-164504](https://user-images.githubusercontent.com/1890628/72965722-6abe4d00-3e00-11ea-9a4e-1a4d5475083b.gif

[2020-01-23 08:02] takahirom commented on #560
Probably it is fixed in this PR 🙏 Please wait 😄
https://github.com/DroidKaigi/conference-app-2020/pull/526

[2020-01-23 08:10] yurihondo commented on #559
Thanks!!!!
Assigned 🙇

[2020-01-23 10:13] #559 closed

[2020-01-23 10:17] PAGMF commented on #552
🙋‍♂

[2020-01-23 10:19] a25max commented on #556
Sorry I try it now. @takahirom I can make pull request today.

[2020-01-23 10:23] CaptainPAG commented on #552
🙋‍♂

[2020-01-23 10:24] roana0229 commented on #552
Assigned 👍

[2020-01-23 10:33] yaslab commented on #494
🙋‍♂️ I will try this! I'm interested in Material Components for iOS.

[2020-01-23 10:35] satsukies commented on #494
@yaslab Thanks! We assign this issue to you!

[2020-01-23 10:40] ochim commented on #549
I want to try it 🙋🏼‍♀️

[2020-01-23 10:43] satsukies commented on #549
@ochim Thank you! Assigned!

[2020-01-23 11:46] #503 closed

[2020-01-23 13:09] numa08 commented on #525
I'll fix it 🙋‍♂ !

[2020-01-23 13:28] FujiKinaga commented on #525
@numa08
Assigned!👍

[2020-01-23 14:00] kuramu1108 commented on #553
🙋‍♂️

[2020-01-23 14:09] FujiKinaga commented on #553
@kuramu1108
Thanks again! Assigned!👍

[2020-01-23 14:51] kumamotone opened #568 "Floor map with dark theme"
**Overview (Required)**

I think it's hard to see.

<img width="508" alt="スクリーンショット 2020-01-23 23 48 40" src="https://user-images.githubusercontent.com/8403570/72994698-f228b200-3e3a-11ea-95ba-c414cfaddc7a.png">

Sorry that's all.

**Steps To Reproduce**

1. Go to '...'
2. Click on '....'
4. See error

**Expected behavior**
If it's clear

**Screenshots**
If applicable

**Env:**
 - Device: [e.g. Pi

[2020-01-23 14:54] #553 closed

[2020-01-23 15:17] #423 closed

[2020-01-23 15:24] #442 closed

[2020-01-23 15:39] takahirom commented on #555
Thanks! Assigned 👍

[2020-01-24 00:03] #466 closed

[2020-01-24 00:03] #560 closed

[2020-01-24 00:14] #154 closed

[2020-01-24 00:35] FujiKinaga commented on #119
I'll close this issue so it seems to be fixed by #239 😁

[2020-01-24 00:35] #119 closed

[2020-01-24 00:42] FujiKinaga commented on #141
@kako351
Hi.
This issue seems to already be fixed in latest build...😭
If you do not mind, could I close this issue?

[2020-01-24 00:45] FujiKinaga commented on #159
I'll close so it seems to be fixed by #311 ! 💨

[2020-01-24 00:45] #159 closed

[2020-01-24 00:45] FujiKinaga commented on #155
Fixed by #373 💯

[2020-01-24 00:45] #155 closed

[2020-01-24 00:48] FujiKinaga commented on #441
@shinya-takano
Thanks for your remind.
I've closed this PR ✋

[2020-01-24 00:48] #441 closed

[2020-01-24 00:51] FujiKinaga commented on #385
It seems to be fixed by #421 💯

[2020-01-24 00:51] #385 closed

[2020-01-24 00:52] FujiKinaga commented on #323
Fixed by #350 and #342  !

[2020-01-24 00:52] #323 closed

[2020-01-24 00:53] FujiKinaga commented on #186
Fixed by #221 💯

[2020-01-24 00:53] #186 closed

[2020-01-24 00:58] FujiKinaga commented on #103
@souta0104
Thanks for your response.
As you say, I also confirmed to be fixed in latest build.
I'll close this issue...😭
If you have time, would you please try the next issue!

[2020-01-24 00:58] #103 closed

[2020-01-24 01:10] kako351 commented on #141
OK!Thank you for reporting.
But I can't seem to close.

<img width="370" alt="スクリーンショット 2020-01-24 10 10 04" src="https://user-images.githubusercontent.com/33022494/73037264-b967f780-3e91-11ea-829c-5b3958a36fa3.png">

@yurihondo If you do not mind, could I close this issue?

[2020-01-24 01:38] #150 closed

[2020-01-24 01:43] FujiKinaga commented on #147
This issue seems to be related to #147 😉

[2020-01-24 01:54] FujiKinaga commented on #117
@keikyukyun
Hi.
This issue may be already fixed in latest build because I think that it's related to be merged #398
How do you think about?
If you can't reproduce, let me close!

[2020-01-24 02:21] hkusu commented on #338
This issue is no longer needed.

[2020-01-24 02:21] #338 closed

[2020-01-24 03:37] jmatsu opened #571 "Handle *not found* external integrations like a Calendar app"
## Kind (Required)

- Improvement

 ## Overview (Required)

Not yet merged but https://github.com/DroidKaigi/conference-app-2020/pull/307/files#diff-2b4a7fcb147ae35e0c939da24e583057R33 will throw ActivityNotFoundException if no calendar app has been installed to your device.
We haven't provided a way to handle such a situation, but I believe that it would be great to show a warning and not to exit

[2020-01-24 03:53] jmatsu opened #572 "[After #307 is merged] Please give us feedback for calendar event contents"
## Kind (Required)

- Discussion

 ## Overview (Required)

This issue is for gathering your opinion and/or feedback about calendar event contents!

*After #307 is merged,*

- Users will be able to see sessions on their calendar app if they have registered via our application.
- However, we are thinking that it's difficult to define what is a better calendar event.
- This application cannot change

[2020-01-24 04:34] k-tomoyasu commented on #571
I will try this :raising_hand:

[2020-01-24 04:38] jmatsu commented on #571
@k-tomoyasu
I assigned this issue to you. Thank you so much. Please feel free to ask us if you have any questions.

The warning message would be like the below.

- `No calendar application was found.` for English
- `カレンダーアプリが見つかりませんでした` for Japanese

[2020-01-24 06:30] hiroyuki-taguchi commented on #556
@takahirom
This issue seems to be solved already.
PR #442

Close this issue?

[2020-01-24 06:37] takahirom commented on #556
@hiroyuki-taguchi
Oh.. Sorry. I couldn't manage it 🙇🙇
I look forward to your contribution.

[2020-01-24 06:37] #556 closed

[2020-01-24 07:14] kuramu1108 commented on #568
🙋‍♂

[2020-01-24 07:32] jmatsu commented on #568
@kuramu1108
Thank you very much! I'm unsure how this can be resolved so I look forward to your idea. 😃

[2020-01-24 07:35] eyedol commented on #144
In progress...

[2020-01-24 07:59] kuramu1108 commented on #568
@jmatsu
I reckon tinting the image should just be fine

[2020-01-24 08:28] jmatsu commented on #568
Make sense. 👍

[2020-01-24 10:06] ochim commented on #549
- I can't solve  the conflict
- Where is the image of the mark of the head ?

[2020-01-24 10:27] #568 closed

[2020-01-24 11:35] ttanaka330 opened #578 "Crash when launching app on Android 5.0-6.0"
**Overview (Required)**
Crash when launching app on Android 5.0-6.0

**Steps To Reproduce**

1. Launch conference app
2. See error

**Expected behavior**
Start the session list screen without crashing.

**Screenshots**
<img src="https://user-images.githubusercontent.com/31527039/73066198-b51af900-3ee8-11ea-8cd1-ba5d44b2d165.png" width=300 />

**Env:**
 - Device: Android Emulator (and Google Nexus5

[2020-01-24 12:23] ochim commented on #549
SessionDetailFragment has changed large.
I will change implements.

[2020-01-24 13:02] ochim commented on #549
I solved the conflict

[2020-01-24 13:58] #525 closed

[2020-01-24 14:01] numa08 commented on #424
✋

Can I try this ?

[2020-01-24 14:02] takahirom commented on #424
Can you do it? Thanks!!!!🙏

[2020-01-24 15:05] pps5 opened #579 "Support English message for "絞り込み中""
## Kind (Required)
Improvement

 ## Overview (Required)

"絞り込み中" is always shown regardless of system language setting.
It should be "Filtering" or other message in English.

<img src="https://user-images.githubusercontent.com/12092805/73077746-23b98000-3f04-11ea-8747-5e05296a7208.png" width="50%"/>

## Links
- #516

[2020-01-24 15:31] pps5 opened #580 "Hide dividers and materials in session detail screen for non-speaker session"
## Kind (Required)
Improvement

 ## Overview (Required)
- Dividers and materials should be hidden for non-speakers sessions
- Welcom Talk may have materials, but Lunch and Party doesn't.
<img src="https://user-images.githubusercontent.com/12092805/73080357-0a670280-3f09-11ea-8a56-0db3d632a477.png" width="50%"/>

[2020-01-24 15:38] b4tchkn commented on #579
I want to try this!

[2020-01-24 15:44] 417-72KI commented on #488
I will try this✋

[2020-01-24 15:53] koji-1009 commented on #445
🤔

| | before | after |
| --- | --- | --- |
| congributor(stagger) | ![before_contributor](https://user-images.githubusercontent.com/17231507/73074168-565f7a80-3efc-11ea-8c32-dcc22eee3a78.gif) | ![after_contributor](https://user-images.githubusercontent.com/17231507/73074167-565f7a80-3efc-11ea-93ea-bca0846ab282.gif) |
| staff(stagger) | ![before_staff](https://user-images.githubusercontent.com/172

[2020-01-24 16:52] nukka123 commented on #572
I appreciate @furusin and @jmatsu 's long review work.

I vote this.

Google Calendar shows a room name in *Location* area when we use  *Schedule* mode.
And more, leading part of the session title is important part for a user, because it contribute to identification for sessions.
If saved a multiple events by same time, and if used *Day* mode, long title is truncated.

And also, It's might good to

[2020-01-24 16:56] yoshida0261 commented on #580
What about writing notes in a Lunch session?

For example
-Lunch box and tea are available
-There are vegetarian dishes (I don't know
   -(It may be easy to understand if there is a detailed note.)
   -(Food pictogram or https://www.menu-tokyo.jp/menu/pictogram/
-Please separate and discard garbage
-You can eat and drink in each room
   -(It seems to be easy to understand if you can see the room w

[2020-01-24 17:36] pps5 commented on #580
Sounds good!

Especially following information is useful for participants:

- lunch box and tea are available
- how to separate gabage
- where you can eat and drink

I just meant that useless UI components should be hidden, but it seems to need discussion about contents.

I'll update issue title as needed.

[2020-01-24 17:46] yoshida0261 commented on #578
🙋

[2020-01-24 17:48] ry-itto commented on #488
@417-72KI
Thanks! assigned 👍

[2020-01-24 18:16] yoshida0261 opened #584 "Add Wifi Setting Page"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

-  Add a WiFi item to the navigation drawer.
- Tap the WiFi item
  - Connect to the venue's WiFi using WifiManager.

Or

- A button to copy the SSID name and password to the clipboard will be displayed.
- When the user presses the button to connect to the venue WiFi
  - It saves you a little bit of typing.

[2020-01-25 02:46] myoshita commented on #554
I want to try this issue 🙋‍♂

[2020-01-25 02:47] takahirom commented on #554
Thanks! Assigned👍

[2020-01-25 03:19] takahirom commented on #578
Thanks! Assigned🙏

[2020-01-25 03:25] takahirom commented on #584
Thanks for the suggestion!  Please wait a moment because there is something to think about🙏

[2020-01-25 03:55] syo-sa1982 commented on #318
@takahirom
We have implemented the functions we want to implement for the time being. Thank you:)

[2020-01-25 04:29] STAR-ZERO opened #591 "Failed ./gradlew :android-base:bundleDebug"
**Overview (Required)**
- `./gradlew :android-base:bundleDebug` is getting error.

**Steps To Reproduce**

Run `./gradlew :android-base:bundleDebug`

**Expected behavior**

Build success

**Screenshots**

**Env:**

**Additional context**

[code]

[2020-01-25 04:48] takahirom commented on #591
I tried to exclude it. But it does not work 😭

[code]

[2020-01-25 04:52] koji-1009 commented on #445
👨‍🚀

| | before | after |
| --- | --- | --- |
| fade transition | ![before_fade](https://user-images.githubusercontent.com/17231507/73116441-c6601600-3f79-11ea-845b-5620cf5054fa.gif) | ![after_fade](https://user-images.githubusercontent.com/17231507/73116442-c6f8ac80-3f79-11ea-9f35-139da59b3cd1.gif) |

[2020-01-25 05:14] takahirom commented on #591
base
![image](https://user-images.githubusercontent.com/1386930/73116638-f6f57f00-3f7c-11ea-902a-19fbcc9c207e.png)
staff
![image](https://user-images.githubusercontent.com/1386930/73116647-0c6aa900-3f7d-11ea-9bf9-c05eac7b6b82.png)

[2020-01-25 05:17] takahirom commented on #591
![image](https://user-images.githubusercontent.com/1386930/73116657-5eabca00-3f7d-11ea-8d6f-d2a7e5f1536d.png)

[2020-01-25 05:25] #591 closed

[2020-01-25 05:35] takahirom opened #594 "Add unit tests for SessionList"
## Kind (Required)

- Improvement

 ## Overview (Required)

- That class contains many logics!

 ## Links

-

[2020-01-25 05:58] takahirom commented on #580
👀

[2020-01-25 06:10] a25max commented on #594
I want to try it

[2020-01-25 06:11] takahirom commented on #594
Thanks! Assigned 🙏

[2020-01-25 06:19] takahirom opened #596 "Fix search auto entered"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  We can not use completion in Android 10
![search_entered](https://user-images.githubusercontent.com/1386930/73117261-05946400-3f86-11ea-91df-7e6b007971e6.gif)

 ## Links

-

[2020-01-25 06:20] takahirom commented on #579
Thanks! Assigned 👍

[2020-01-25 06:53] takahirom opened #598 "What should we use for newline characters?"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, we use crlf for all files in editorconfig. But we don't use crlf in kotlin files currently.
- In the first place, we want to think about what to use.

[code]

 ## Links

-

[2020-01-25 07:12] takahirom commented on #598
Probably we should use LF 👀
LF
https://github.com/android/architecture-components-samples/blob/master/WorkManagerSample/app/src/main/java/com/example/background/App.kt
LF
https://github.com/JetBrains/kotlin/blob/master/libraries/stdlib/wasm/builtins/native/kotlin/Number.kt
LF
https://github.com/google/iosched/blob/master/mobile/src/main/java/com/google/samples/apps/iosched/ui/MainActivity.kt

[2020-01-25 07:19] takahirom opened #599 "Highlight search text in SearchActivity"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I think it is useful 🙏

 ## Links

-

[2020-01-25 08:20] #579 closed

[2020-01-25 08:30] #598 closed

[2020-01-25 08:52] woxtu commented on #493
✋

[2020-01-25 09:01] ry-itto commented on #493
Thanks! Assigned 👍

[2020-01-25 11:20] yaslab opened #606 "Which sponsor category title is valid?"
**Overview (Required)**
- The third sponsor category title differs on where it is used.
    - Android: `SPONSORS` ([definition](https://github.com/DroidKaigi/conference-app-2020/blob/777c57cd8650a7d5c3d0f04274cd4b4ae63fd612/model/src/commonMain/kotlin/io/github/droidkaigi/confsched2020/model/SponsorCategory.kt#L11))
    - WebSite: `SUPPORTER`

| Android | WebSite |
|:-|:-|
|<img width="212" alt=""

[2020-01-25 11:25] takahirom commented on #606
👀

[2020-01-25 11:31] takahirom opened #608 "Automate Dagger Inject"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Can we use it? 👀
https://github.com/android/architecture-components-samples/blob/master/GithubBrowserSample/app/src/main/java/com/android/example/github/di/AppInjector.kt#L31

 ## Links

-

[2020-01-25 11:32] takahirom commented on #606
Thank you. I should fix it 🙏

[2020-01-25 11:33] #606 closed

[2020-01-25 12:19] takahirom opened #610 "Fix SessionPage parcelize crash"
**Overview (Required)**
-
![image](https://user-images.githubusercontent.com/1386930/73120951-f6c6a500-3fb7-11ea-8c14-006f6fe0a0cd.png)

**Steps To Reproduce**
1. Check Don't keep Activity in developers options
2. Show sessions
3. Press home button, Go to launcher app
4. relaunch

**Expected behavior**
Not crash

**Env:**
 - Device: Pixel3
 - OS: 10.0
 - master

[2020-01-25 12:20] takahirom commented on #610
I think we can fix it by adding AndroidParcelize for subclasses.
https://github.com/DroidKaigi/conference-app-2020/blob/master/model/src/commonMain/kotlin/io/github/droidkaigi/confsched2020/model/SessionPage.kt

[2020-01-25 12:38] mukaiyachidaiki commented on #498
What about such a fix?
When using a dark theme on Android9 or lower, set NavigationBar to a color with low transparency.
Sorry, I didn't know how to change the button color.

Android 8 Dark
<img src="https://user-images.githubusercontent.com/726084/73121115-fb8c5880-3fb9-11ea-9e7d-cb293a9fd319.png" width="300px">

Android 8 Light
<img src="https://user-images.githubusercontent.com/726084/73121116-

[2020-01-25 12:45] #325 closed

[2020-01-25 12:46] takahirom opened #611 "This tag and its children can be replaced by one <TextView/> and a compound drawable"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The lint say it.
- Can we do it?? 👀
https://github.com/DroidKaigi/conference-app-2020/blob/ba799e8c11633a0d9e6d9b400961d0582cb0358e/feature/session/src/main/res/layout/item_session_detail_speaker.xml#L19

 ## Links

-

[2020-01-25 12:47] myoshita commented on #610
Can I fix it ?

[2020-01-25 12:48] takahirom commented on #610
Please do it! 🙏

[2020-01-25 13:47] a25max opened #614 "a few files in jvmTest are not recognize dependency libraries."
**Overview (Required)**
- can't recognize klock and junit in file of  jvmTest folder.

**Steps To Reproduce**
No
**Expected behavior**
No

**Screenshots**
If applicable

**Env:**
latest master branch

**Additional context**
No

[2020-01-25 14:19] hoyo commented on #611
I will try this. 🙋‍♂

[2020-01-25 14:20] takahirom commented on #611
Thanks! Assigned

[2020-01-25 15:24] t-nonomura commented on #599
I will try this !

[2020-01-25 16:20] nashcft commented on #608
🙋‍♂

[2020-01-25 16:32] satsukies commented on #608
@nashcft Thank you! We assign this issue to you 👍

[2020-01-25 16:33] satsukies commented on #599
@t-nonomura Thanks! Assign to you 👍

[2020-01-26 02:23] myihsan commented on #495
🙋‍♂️I want to try it!
Is there any data I need to get from the remote API?

[2020-01-26 02:26] ry-itto commented on #495
@myihsan Thanks!
I think this view doesn't need any data to get from remote API.
Assigned 👍

[2020-01-26 02:54] #489 closed

[2020-01-26 06:13] #163 closed

[2020-01-26 06:19] jmatsu commented on #571
@k-tomoyasu
For your information, #307 has been merged into *master* branch.

[2020-01-26 08:07] mkeeda commented on #429
@takahirom
I would like to avoid to post to database for release.
The firestore which specified `android-base/arc/debug/google-services.json` is test database for develop, isn't it?

[2020-01-26 08:09] takahirom commented on #429
@mkeeda Yes. That google-services.json is for develop 👍

[2020-01-26 08:41] sekiya9311 commented on #596
Can I try it?

[2020-01-26 09:02] takahirom commented on #596
Thanks Assigned!

[2020-01-26 09:50] entaku19890818 commented on #137
![image](https://user-images.githubusercontent.com/9211010/73133482-70b86600-406c-11ea-9bf1-4c25ec8e2591.png)

I think this is floor map design.
What does the locaicion mark mean?
Users current location?

[2020-01-26 10:22] takahirom commented on #137
We can open map from session detail. We can use pin.
But now we don't have to use pin🙏

[2020-01-26 10:49] entaku19890818 commented on #137
I see!
First, I make it possible to display the map image.

[2020-01-26 13:39] entaku19890818 commented on #137
I will send a pull request.
Here's what I thought was a problem.

- The title is not displayed because it did not seem to be multilingual.
- The SideNavigationBar should have state. The menu currently selected cannot be highlighted.
- Is it better to create a common ViewController? everyone wants to use setUpAppBar.

[2020-01-26 13:41] Pluu opened #625 "Problem with clicking the view"
**Overview (Required)**
- Touching BottomSheet on the main screen activates the Filter under BottomSheet.

**Steps To Reproduce**

1. Run DroidKaigi 2020
2. Click on 'Click in some area of BottomSheet'
3. The filter becomes valid

**Expected behavior**
The filter should not be valid.

**Screenshots**
<img src="https://user-images.githubusercontent.com/1534926/73136067-bd139e00-408c-11ea-887f-f2469

[2020-01-26 13:49] ry-itto commented on #137
@entaku19890818
Thanks for your PR. 😄

Yes, exactly. I'm going to do it after implementing all views.

I'm sorry.. I missed about this.
Please add `shared` static property for `SidebarViewController` or add argument(`SwitchViewControllerType`) to `SidebarViewController`'s initializer?
(I think `SideNavigationBar` represents `SidebarViewController`.)

I think last one is better because set default

[2020-01-26 14:06] ry-itto commented on #137
@entaku19890818

Please add Sidebar's state for `SidebarViewController` in your PR or another PR. 🙏

I think it is good to create a `**ViewController` class with an `AppBar` that inherits `UIViewController`. Please modify this with above 🙏

[2020-01-26 14:55] mkeeda commented on #429
## memo
- The app collects to thumbs-up count of each user.
`confsched/2020/sessions/${sessionId}/thumbsup_counters/${userId}/shards/${shardsId}`
  - The app creates a thumbsup_counters document when a user taps a thumbs-up button at first, because no counter of the user.
- Session Detail view show a thumbs-up count of a current user.
- DroidKaigi staffs collect a thumbs-up count of all users of e

[2020-01-26 15:37] entaku19890818 commented on #137
Add the this PR. Please check it.

Add ContentViewController in Common.

Please tell me if you have any problems.
👍

[2020-01-26 16:38] #596 closed

[2020-01-26 16:40] takahirom commented on #429
👀

[2020-01-26 16:44] takahirom commented on #429
@mkeeda
confsched/2020/sessions/${sessionId}/thumbsup_counters/${counterId}/shards/1
How about sharing data with other users in this way?

[2020-01-26 16:50] takahirom commented on #578
Fixed by https://github.com/DroidKaigi/conference-app-2020/pull/612

[2020-01-26 16:50] #578 closed

[2020-01-26 17:04] #611 closed

[2020-01-26 17:08] #608 closed

[2020-01-27 02:18] kouhon opened #629 "the session list scrolls to the top, when click favorite button."
**Overview (Required)**
- same as title.

**Steps To Reproduce**

1. Scroll session list.
2. Click on favorite.

**Expected behavior**
do not scrolls when click favorite.

**Screenshots**
If applicable

**Env:**
 - Device: Pixel3XL
 - OS: 10
 - deploygate #209

**Additional context**
Any other notes

[2020-01-27 02:39] mhidaka commented on #629
Thank you for your report!

[2020-01-27 03:31] ytRino commented on #141
Closing. Thanks!

[2020-01-27 03:31] #141 closed

[2020-01-27 04:43] sobaya-0141 commented on #438
I,m sorry
I can't come up with a solution

reference:https://developer.android.com/guide/topics/search/search-dialog.html#VoiceSearch

I tried the following
- Add res/xml/searchable.xml
`
android:voiceSearchMode="showVoiceSearchButton|launchRecognizer"
`
- AndroidManifest.xml
`            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search

[2020-01-27 05:41] jmatsu commented on #438
@sobaya-0141
No worries. Great job.

What device did you use by the way? I have experienced a similar issue on several devices that haven't installed Google App.

[2020-01-27 05:41] jmatsu commented on #438
Let me remove you from assignees for now.

[2020-01-27 05:52] sobaya-0141 commented on #438
The terminals used are Pixel3a and Huawei nova lite2.
In both cases, the Google app will be installed.

[2020-01-27 06:58] ytRino commented on #625
ah #630 is.

[2020-01-27 07:53] hiroyuki-taguchi commented on #625
Sorry, I didn't notice this issue.
I want to try!

[2020-01-27 08:16] #625 closed

[2020-01-27 10:47] mkeeda commented on #429
@takahirom
I'm thinking to share data with other users, but I don't understand what to mean `/thumbsup_counters/${counterId}/`.
Why is multiple counters in thumbs-up collection?
Are the single thumbs-up counter of each session some problems, like `confsched/2020/sessions/${sessionId}/thumbsup_counter/shards/${shardId}`?

[2020-01-27 11:02] undoroid commented on #629
I will try this 🙋

[2020-01-27 15:22] mkeeda commented on #429
Sorry, I did not notice this document of firestore.

https://firebase.google.com/docs/firestore/data-model?hl=en

`.../thumbsup_counter/shards/${shardId}` is collection in collection; `.../collection/collection/document`, so it's wrong setting.

[2020-01-27 15:30] takahirom commented on #429
sessions/${sessionId}/thumbsup_counter/${shardId}
Probably we can remove like this?👀
I forgot why counterId is exists🤔🤔

[2020-01-27 16:41] mkeeda commented on #429
@takahirom
Thank you🙏
I summarized the plans for sharing thumbs-up counts with all users.

### Plan1: multiple counter
`sessions/${sessionId}/thumbsup_counters/${userId}/shards/${shardsId}`
- The app sums up thumbs-up count of all users, and displays.
- DroidKaigi staffs can check thumbs-up counts of each user. (not needed?)
- Counting cost increases with `number of user * number of shard`.

### P

[2020-01-27 17:15] takahirom commented on #429
I want to try Plan2.
I rethink I think it is needed. Like this.
sessions/${sessionId}/thumbsup_counter/3
shards : 10

[2020-01-27 17:19] #445 closed

[2020-01-27 17:19] #424 closed

[2020-01-27 17:22] takahirom commented on #629
Thanks! Assigned 🙏

[2020-01-27 17:22] #610 closed

[2020-01-27 17:26] takahirom commented on #584
We can do `Connect to the venue's WiFi using WifiManager`
When implementing, enter the temporary WiFi SSID and password. 🙏

[2020-01-27 17:39] #152 closed

[2020-01-27 17:40] #144 closed

[2020-01-27 23:16] keikyukyun commented on #117
@FujiKinaga
Hi.
I’m so sorry for the late reply.
I’ve checked, but it still seems to be a problem in my environment.

[2020-01-27 23:51] FujiKinaga commented on #117
@keikyukyun
Thanks for your response.
I see..
I'll keep this issue!👍

[2020-01-28 00:47] takahirom commented on #629
@undoroid Sorry. Other pull request fixs this issue🙇
I look forward to your next contribution🙏

[2020-01-28 00:47] #629 closed

[2020-01-28 04:56] #494 closed

[2020-01-28 05:48] mkeeda commented on #429
OK 🙆
I'll fix the code as soon as possible.

[2020-01-28 07:32] Veget-ables commented on #551
@takahirom @KeithYokoma
I created PR. Please review it when it’s convenient for you 🙏
best regard.

[2020-01-28 08:03] itome opened #641 "Web development environment support"
## Kind (Required)

- Other

## Overview (Required)
I'm developing unofficial flutter app for droidkaigi and it's also supporting web, but api request blocked by CORS.
Can this project support web local development environment?

## Links
https://github.com/itome/droidkaigi_flutter

[2020-01-28 08:10] takahirom commented on #641
Probably @jmatsu ??

[2020-01-28 08:56] 417-72KI commented on #488
Since the volume is likely to be large, I once made PR up to this point.

[2020-01-28 08:59] ry-itto commented on #488
OK. I will see this PR tonight.

[2020-01-28 10:33] e10dokup commented on #110
@OldBigBuddha I close this issue because #316 already fixed. If you would like, please challenge other issues!

[2020-01-28 10:33] #110 closed

[2020-01-28 10:35] rmakiyama opened #642 "Use ContentLoadingProgressBar instead of ProgressBar with ProgressTimeLatch"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- ContentLoadingProgressBar is useful view.
- ContentLoadingProgressBar might be able to do the same as ProgressBar with ProgressTimeLatch
- Or, we dare to use ProgressBar because of some reason?

 ## Links

- [ContentLoadingProgressBar](https://developer.android.google.cn/reference/kotlin/androidx/core/widget/ContentLoadingProg

[2020-01-28 10:36] rmakiyama commented on #642
if you like, I will try it 🙋‍♂

[2020-01-28 10:39] takahirom commented on #642
👀

[2020-01-28 11:01] jmatsu commented on #641
I'm unsure if it's feasible because of the hosting service. Honestly speaking, I cannot have enough time to work on the API side by the event date, for now.

I'm thinking one workaround is to use a proxy server for CORS. It may work at least during your development. However, please note that we cannot guarantee anything of the CORS proxy services and what will happen while using them. I apologize.

[2020-01-28 11:10] itome commented on #641
Thank you for your quick reply! I'll try proxy server.

[2020-01-28 11:10] #641 closed

[2020-01-28 15:35] Pluu commented on #584
@takahirom

try the Firebase Remote Config?
After storing temporary information on the administration side, it can be modified on the day of the event.
Expected Information: Enabled, SSID, Password

[2020-01-28 16:24] koji-1009 commented on #505
Can I try?

I can't reproduce this problem in my environment yet.
However, I feel this problem can be fixed by removing the "unstable" lateinit call. 🕵

[2020-01-28 16:31] roana0229 commented on #505
Of course, assigned 👍

[2020-01-28 16:48] takahirom commented on #642
I knew that View, but I didn't use it. However, considering the current situation, ContentLoadingProgressBar may be more appropriate because only ProgressBar is used.
Please do it 🙏

[2020-01-28 16:49] #599 closed

[2020-01-28 17:07] takahirom commented on #584
@Pluu
Thanks for the suggestion! I put that information like this!
![image](https://user-images.githubusercontent.com/1386930/73287096-06562000-423c-11ea-9e0a-fb8a5665419f.png)

[2020-01-28 18:13] yoshida0261 opened #645 "Add the ability to post with a hashtag on Twitter"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Allows you to tweet with the specified hashtag when you tap the share button.
  - This may save you the hassle of hashtags.
  - Mistakes may be reduced.

For Example
<img src="https://user-images.githubusercontent.com/6377215/73291900-723c8680-4244-11ea-9e58-f9bf4ab92e55.jpg" width="200">

[2020-01-28 18:15] roana0229 commented on #645
Thanks, awesome 😄

[2020-01-29 01:41] torikatsupg commented on #645
I will try this!🙋‍♀️

[2020-01-29 02:40] roana0229 commented on #645
Assigned 👍

[2020-01-29 03:29] takahirom commented on #498
How about  changing navigation bar when    only DarkTheme?👀

[2020-01-29 03:58] jmatsu commented on #641
@itome
I could see `curl -v 'https://api.droidkaigi.jp/2020/contributors' > /dev/null` returned a CORS header that allows all origins but it caused redirecting to an URL that has an insecure protocol. I'm unsure the problem you've faced is CROS or mixed content though, please try to add `/` to the URLs to be called like `https://api.droidkaigi.jp/2020/contributors/`

[2020-01-29 04:15] #488 closed

[2020-01-29 04:56] 417-72KI opened #647 "[iOS] Remaining tasks for Session Detail Screen"
## Kind (Required)
- Improvement

 ## Overview (Required)
- [ ] like button
- [ ] actions for footer buttons
- [ ] bookmark button

 ## Links

- #488
- #588

[2020-01-29 07:28] yoshida0261 commented on #584
🙋

[2020-01-29 07:29] roana0229 commented on #584
Assigned 👍

[2020-01-29 11:26] takahirom commented on #40
@TaigaNatto Please let me know if you have any questions 🙏

[2020-01-29 11:50] #135 closed

[2020-01-29 11:50] #554 closed

[2020-01-29 11:50] #549 closed

[2020-01-29 11:56] FujiKinaga commented on #382
It seems to be fixed by #536 so I'll close now!

[2020-01-29 11:56] #382 closed

[2020-01-29 12:09] takahirom opened #652 "Add the entire survey to the navigation drawer"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We want to add entire survey("全体アンケート") navigation drawer item to Navigation Drawer
- Since the URL has not yet been determined, please access google.com when you press the button. 🙏

 ## Links

-

[2020-01-29 12:10] #148 closed

[2020-01-29 12:57] TaigaNatto commented on #40
@takahirom
Thank you.
It feels good for this issue.

I just have question.
- I'm trying to implement RecyclerView, can I just look at the existing implementation?
- How much should I implement?

[2020-01-29 14:14] yanamura commented on #491
@takahirom Hi, I have a question.
is it OK to fetch session API when every time user opens SpeakerView? we should use cache sessions data?
https://github.com/DroidKaigi/conference-app-2020/pull/633#discussion_r371366488

[2020-01-29 14:19] Takafumi-Orita commented on #652
What do you do with the icons?

[2020-01-29 14:25] tarumzu opened #653 "Replace root build.gradle, settings.gradle and android-base module build.gradle to kts"
## Kind (Required)
- Improvement

 ## Overview (Required)

- replace to gradle.kts

 ## Links

-

[2020-01-29 14:27] tarumzu commented on #653
I want to do this issue!

[2020-01-29 14:53] a25max commented on #594
Sorry, Give up 😢

[2020-01-29 14:58] roana0229 commented on #594
No problem 😄

[2020-01-29 15:16] tkt989 commented on #652
I want to try it !

[2020-01-29 17:13] mkeeda commented on #429
After tapped thumbs-up button, the app should update the thumbs-up count.
Can I use the realtime update function with firestore?
I think that the app is able to update automatically the count when other users tap thumbs-up button of the same session. 🤔

Get realtime updates with Cloud Firestore  |  Firebase
https://firebase.google.com/docs/firestore/query-data/listen?hl=en

And I want to implement

[2020-01-29 17:21] takahirom commented on #40
@TaigaNatto

Sorry.  I don't understand. "look at the existing implementation" means using existing Groupie Item?? I think It is better to make it. 🙏

For now,  All you need to do is create an item for Groupie and just show the string.
It's okay to implement the design, but I'm already running out of time so I want to get it early. 🙇

[2020-01-29 17:26] takahirom commented on #429
I think so too. 👀
The favorite actually does the same thing except that there are multiple shards.
https://github.com/droidkaigi/conference-app-2020/blob/master/data/firestore/src/main/java/io/github/droidkaigi/confsched2020/data/firestore/internal/FirestoreImpl.kt#L38

[2020-01-29 17:31] #642 closed

[2020-01-29 17:32] mkeeda commented on #429
Oh, sorry.
I missed it.😉
Thanks!!

[2020-01-29 17:37] takahirom commented on #653
I thought it was a bit difficult. But it should be stable, so let's challenge!

[2020-01-29 23:53] mukaiyachidaiki commented on #498
@takahirom
Prepare LiveData in SystemUiManager in a form similar to the status bar, and change the color of the navigation bar according to the OS version when Context.isNightMode changes.

(Referenced code) MainActivity L216
[code]

[2020-01-30 00:09] ry-itto commented on #490
I will try this 🤚

[2020-01-30 00:48] takahirom opened #655 "Update Dagger"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now Dagger uses AndroidX!

 ## Links

-

[2020-01-30 00:49] takahirom opened #656 "Update Android Gradle Plugin"
## Kind (Required)

- Improvement

 ## Overview (Required)

- 3.6 RC2!!

 ## Links

-

[2020-01-30 00:51] takahirom commented on #490
Thanks!  Assigned🙏

[2020-01-30 01:06] TheRay0410 commented on #656
I try🙋‍♀️

[2020-01-30 01:38] takahirom commented on #656
Thanks! Assigned🙏

[2020-01-30 02:47] takahirom commented on #652
Thanks! Assigned 🙏

[2020-01-30 04:09] tkt989 commented on #652
What icon should I use for entire survey?

[2020-01-30 05:43] ry-itto opened #657 "iOS Add "Event" to tab"
## Kind (Required)
- Improvement

 ## Overview (Required)
- add "Event" tab to FilterViewController.

 ## Links
- https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=1279%3A1339

[2020-01-30 05:49] ry-itto opened #659 "iOS Localize titles and contents"
## Kind (Required)
- Improvement

 ## Overview (Required)
- In iOS App, it supports only Japanese.
- Support English.

 ## Links
-

[2020-01-30 05:51] ry-itto opened #660 "iOS Support dark mode"
## Kind (Required)
- Improvement

 ## Overview (Required)
- Support dark mode.

 ## Links
-

[2020-01-30 05:53] ry-itto commented on #660
@takahirom
Is there any dark mode's design?

[2020-01-30 05:58] ry-itto opened #661 "iOS Make rounded corner to SessionView"
## Kind (Required)

Choose the suitable template if exists.
- Improvement

 ## Overview (Required)
- Now, `SessionView`'s left corner is not rounded. So please make rounded.

### Current
<img src="https://user-images.githubusercontent.com/30540303/73423888-c5abf300-4370-11ea-9367-339ed4858ef9.png" width="200px">

 ## Links
- https://www.figma.com/file/4r9becvhDy3GfXaXex8E8d/App?node-id=4%3A2

[2020-01-30 06:02] takahirom commented on #660
@ry-itto Unfortunately, There is not.😂

[2020-01-30 06:04] ry-itto commented on #660
@takahirom
I see.

I would like to refer to the design of the android app 👍

[2020-01-30 08:01] RyuNen344 commented on #655
✋

[2020-01-30 08:12] satsukies commented on #655
@RyuNen344 Thank you! We assign this issue to you 👍

[2020-01-30 08:30] satsukies commented on #655
@RyuNen344
This issue has PR already created and I was overlooking.
So sorry.

We look forward to your contribution to another issue!

[2020-01-30 09:03] RyuNen344 commented on #655
😢
never mind

[2020-01-30 10:33] mukaiyachidaiki commented on #498
(英語苦手なので見当違いな回答していたらすみません！)

[2020-01-30 10:37] fummicc1 commented on #661
If nobody tries this challenge, I would like to try 👀　

[2020-01-30 10:39] ry-itto commented on #661
@fummicc1
Thanks!
Assigned 👍

[2020-01-30 11:10] takahirom commented on #498
@mukaiyachidaiki Sorry for late! looks good!

[2020-01-30 13:07] koji-1009 commented on #505
Sorry, I can't reproduce this issue in the latest conference app. (DroidKaigi 2020 #227)
And I can not found the DeployGate link DroidKaigi 2020 #130...

@KeithYokoma
Hi, can you reproduce this issue in the latest conference app?

[2020-01-30 14:08] #661 closed

[2020-01-30 14:35] fummicc1 commented on #497
May I try this issue?

[2020-01-30 14:39] satsukies commented on #497
Of course! We assigned this issue to you :+1:

[2020-01-30 14:46] fummicc1 commented on #497
Thank you!

[2020-01-30 15:55] nukka123 opened #667 "[iOS] Failed to build SwiftGen"
**Overview (Required)**
- Failed to build SwiftGen.

**Steps To Reproduce**

1. Go to `ios_base` directory.
2. Run `make init`
3. `Failed to build SwiftGen 6.1.0 with SPM`

**Expected behavior**
the build to be success.

**Env:**
 - OS: MacOS 10.15.3
- Xcode 11.3.1
 - master branch / 2bedc70e496d3abc207754cd2a178e96b626d86e

**Error Log**

[code]

[2020-01-30 17:11] #656 closed

[2020-01-30 17:20] #655 closed

[2020-01-30 17:22] takahirom commented on #652
How about a feedback icon? 👀
https://material.io/resources/icons/?icon=feedback&style=round

[2020-01-30 17:33] takahirom opened #669 "Exclude event sessions from day sessions"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There are currently no event sessions, but if added, they will be displayed in the dated session list and event tab. I want to exclude it from day sessions🙏

 ## Links

-

[2020-01-30 18:50] TaigaNatto commented on #40
@takahirom
I just did it ! Sorry for being late.

I have some questions.
- Should Top Image prepare image data for each dpi?
- Is there an implementation to get the version code of the app?

[2020-01-30 23:33] roana0229 commented on #667
Thank you for report.
`swiftgen` require `libxml2`. see [SwiftGen README](https://github.com/SwiftGen/SwiftGen#installation)

[2020-01-30 23:34] nukka123 commented on #667
SwiftGen's README said

After installed libxml2 by manually, the SwiftGen build will succeed.

[2020-01-30 23:35] nukka123 commented on #667
@roana0229  thank you!

[2020-01-31 00:07] tkt989 commented on #652
I got it.
Thanks!

[2020-01-31 00:45] takahirom commented on #667
I think it is good to add it to ios-base/README.md!

[2020-01-31 02:50] tick-taku commented on #669
Hi! 🙋
Can I try this ?

[2020-01-31 02:50] roana0229 commented on #669
Of course 👍
Assigned.

[2020-01-31 05:35] yoshida0261 commented on #645
I thought I could coexist with # 508

[2020-01-31 07:49] ry-itto commented on #667
🙇

[2020-01-31 07:54] ry-itto opened #674 "[iOS] RootNavigationController's `viewControllers` are increasing."
## Kind (Required)
- Bug report (please use the other template)

 ## Overview (Required)
- Move view from `Sidebar`, `rootViewController?.viewControllers` are always increasing. Following is example.
[code]

To resolve this, I think this way(https://github.com/DroidKaigi/conference-app-2020/pull/597/files/7d9e203655abdfa5fe0233d770ece49c62c6120b#diff-34264a1af610b65a3b561894e675d97eR57) is useful.

[2020-01-31 09:23] k-tomoyasu commented on #571
Thanks for information, sorry for my late reply.
I will try this weekend!

[2020-01-31 12:09] mukaiyachidaiki commented on #498
I will try this:raising_hand:

[2020-01-31 15:32] FujiKinaga commented on #498
@mukaiyachidaiki
Assigned!👍

[2020-02-01 05:14] nukka123 commented on #117
@keikyukyun @takahirom

I've found one workaround.
Add `binding.executePendingBindings()` to `sessionsViewModel.uiModel.observe()`'s `onChanged`.
It seems can improve this issue.
However sorry, I don't know the exact reason... 😢

再現時の動作を解析したところでは、`groupAdapter.update()`には 35個の`SessionItem`が期待通りに渡されていますが、`SessionItem`の`bind()` が呼ばれていない状況のようです。
そのため `GroupieAdapter`または`RecyclerView`のデータ更新 あるいは Viewの

[2020-02-01 07:20] #669 closed

[2020-02-01 07:25] takahirom commented on #40
Now you can use empty image 👍

It is ok to empty for now 👍

[2020-02-01 07:26] #551 closed

[2020-02-01 07:41] #40 closed

[2020-02-01 07:43] takahirom opened #679 "Add about screen description for english"
## Kind (Required)

- Improvement
- Other

 ## Overview (Required)
From https://droidkaigi.jp/2020/en/
DroidKaigi is a conference tailored for Android developers. It's scheduled to take place on the 20 and 21 of February 2020.
- https://github.com/DroidKaigi/conference-app-2020/blob/7f29bcb303e6056a933b9d687b21c9804640f647/feature/about/src/main/res/values/strings.xml#L4

 ## Links

-

[2020-02-01 07:50] takahirom opened #680 "Add `Access` implementation in about screen"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- I'm thinking about launching Google Map with an implicit intent.
-  https://github.com/DroidKaigi/conference-app-2020/blob/7f29bcb303e6056a933b9d687b21c9804640f647/feature/about/src/main/java/io/github/droidkaigi/confsched2020/about/ui/AboutFragment.kt#L89

 ## Links

-

[2020-02-01 07:59] takahirom opened #681 "Go to privacy policy page from About DroidKaigi screen"
## Kind (Required)

- Proposal / Discussion

## Overview (Required)
- We want to go just this page.
- http://www.association.droidkaigi.jp/privacy.html
https://github.com/DroidKaigi/conference-app-2020/blob/7f29bcb303e6056a933b9d687b21c9804640f647/feature/about/src/main/java/io/github/droidkaigi/confsched2020/about/ui/AboutFragment.kt#L99

 ## Links

-

[2020-02-01 07:59] torikatsupg commented on #679
Can I try this issue ?

[2020-02-01 08:00] takahirom commented on #679
Thanks! Assinged 👍

[2020-02-01 08:01] takahirom commented on #555
@rkonno If you have any questions. Please tell me 🙏

[2020-02-01 09:38] kuramu1108 commented on #681
🙋‍♂️

[2020-02-01 09:38] takahirom commented on #681
Thanks! Assigned 👍

[2020-02-01 09:43] #495 closed

[2020-02-01 09:44] nashcft opened #686 "Text color in About page does not consider dark mode"
**Overview (Required)**

`textColor` for the texts in About page refers directly to color resources, so their color does not change according to the change of  the app's theme.

**Steps To Reproduce**

1. Go to 'Settings'
1. Set theme to 'Dark'
1. Go to 'About'

**Expected behavior**

Text color should be changed corresponding to selected color theme; i.e. use theme's color attribute for the value

[2020-02-01 09:46] #679 closed

[2020-02-01 09:47] takahirom commented on #686
Thanks for reporting!

[2020-02-01 12:30] rkonno commented on #555
@takahirom
Yes, I have a question. Commented on Pull Request. (#687)
Please review them when you have time. I'm grateful for your support.

[2020-02-01 14:11] youmitsu commented on #680
🙋‍♂️

[2020-02-01 14:19] roana0229 commented on #680
Assigned 👍

[2020-02-01 15:46] #681 closed

[2020-02-01 15:57] takahirom opened #691 "Class not found error when R8 Enabled"
## Kind (Required)

- Improvement

 ## Overview (Required)

-

Add `minifyEnabled true`

[code]

And `./gradlew android-base:installDebug`

[code]

 ## Links

-

[2020-02-01 16:11] #652 closed

[2020-02-01 17:19] takahirom commented on #691
Sorry. This was simply not able to reference proguardFile.

[2020-02-01 17:19] #691 closed

[2020-02-01 17:26] clockvoid commented on #686
I could fix it.
The color of version number text was not destined, so I use white in dark mode.
May I make PR with this result?

| Light | Dark |
| ----- | ----- |
| <img src="https://user-images.githubusercontent.com/6965122/73596137-feabb980-4562-11ea-9213-f6872fe57d0c.png" width="250" /> | <img src="https://user-images.githubusercontent.com/6965122/73596136-feabb980-4562-11ea-944c-f8638566dc40.

[2020-02-01 17:32] takahirom commented on #686
@clockvoid 🙆

[2020-02-01 17:55] #667 closed

[2020-02-01 22:05] clockvoid commented on #657
Yesterday, I tried it and I did it.

Like this ->
<img width="300" src="https://user-images.githubusercontent.com/6965122/73599748-3a0dae80-458a-11ea-8928-574d57fbb155.png" />

However, I'm so nervous because I'm a beginner to develop iOS apps.
Do you face me if I submit a PR?

[2020-02-02 02:41] koji-1009 commented on #505
@roana0229
Sorry, I give up. I can't reproduce this issue.

---

Maybe, we can avoid this issue to change lateinit property to nullable property.
https://github.com/DroidKaigi/conference-app-2020/blob/master/corecomponent/androidcomponent/src/main/java/io/github/droidkaigi/confsched2020/ui/widget/FilterChip.kt#L146

However, this workaround is not good because the root cause cannot be fix.
To inve

[2020-02-02 03:08] mkeeda commented on #429
@takahirom
I'm debugging to retrieve shards of thumbs-up counter.
I caught a permission error like this.

[code]

While, I probably successed to create shards.
Could you show the security rules of firestore after changing into [the single counter way](https://github.com/DroidKaigi/conference-app-2020/issues/429#issuecomment-578853564)?

[2020-02-02 04:36] takahirom commented on #429
I will check today!

[2020-02-02 04:49] ry-itto commented on #657
@clockvoid
Thanks 😄
It is ok to implement adding tab only. 👍
If you create a PR, we will check it.

[2020-02-02 04:52] roana0229 commented on #505
No need to apologize 😄
Thank you for your dedicated investigation. 👍

[2020-02-02 06:33] #436 closed

[2020-02-02 08:51] #686 closed

[2020-02-02 09:04] takahirom opened #697 "Fix SessionsViewModelTest fail"
## Kind (Required)

- Improvement

 ## Overview (Required)

- SessionsViewModelTest test is broken 😭
![image](https://user-images.githubusercontent.com/1386930/73605826-77078e80-45e6-11ea-8a4d-c5bf578cbc48.png)

 ## Links

-

[2020-02-02 09:10] #653 closed

[2020-02-02 09:35] #508 closed

[2020-02-02 10:26] sekiya9311 commented on #697
Can I fix it?

[2020-02-02 10:37] takahirom commented on #697
Thanks! Assigned 👍

[2020-02-02 12:21] #147 closed

[2020-02-02 12:21] #334 closed

[2020-02-02 12:24] mkeeda commented on #429
Security rules of `/thumbsup_counters/{counterId}` needs `allow read`.
- The app has to retrieve all shards of `thumbsup_counters` but `allow get` allows only single document read requests.
- `allow list` allows multiple document read requests.
- `allow read` includes `get` and `list`

New rules↓
https://github.com/DroidKaigi/conference-app-2020/pull/626#issuecomment-581129891

Discussion of chang

[2020-02-02 12:37] #571 closed

[2020-02-02 13:17] #697 closed

[2020-02-02 13:19] #498 closed

[2020-02-02 13:31] #136 closed

[2020-02-02 16:06] ry-itto opened #704 "[iOS] Show "LIVE" tag only in living."
## Kind (Required)
- Improvement

 ## Overview (Required)
- In SessionView, there are "LIVE" tag for all cells now. It should show in living only.
- Please show "LIVE" tag only in living.

"LIVE" tag represents following.
<img width="43" alt="スクリーンショット 2020-02-02 22 43 32" src="https://user-images.githubusercontent.com/30540303/73609098-a2ea3a80-460d-11ea-969d-7a45435c26b4.png">

 ## Links

-

[2020-02-02 16:24] takahirom commented on #117
@nukka123
Add binding.sessionRecycler.scrollBy(0, 0) instead of binding.executePendingBindings()
It works!
調べてみたのですが、onLayoutがFragmentContainerViewから下のレイアウトに来ていないみたいで、レイアウトがされしだい動くみたいです。
手でスクロールしたときに動くのがRecyclerView.consumePendingUpdateOperations()でそれを手軽に呼べるのがscrollBy(0, 0)というわけです。

[2020-02-03 00:04] FujiKinaga commented on #496
@mkw8263
Hi.
I am sorry for contacting you late😭
You may work before waiting for merge #437.
Please let me know if you have any questions and troubles🙏

[2020-02-03 04:24] mkw8263 commented on #496
It is interesting.
I'll work on it right away :)

[2020-02-03 04:45] #41 closed

[2020-02-03 05:18] #680 closed

[2020-02-03 08:13] takahirom opened #706 "Fix ./gradlew :feature:session:ktlint"
## Kind (Required)

- Improvement

 ## Overview (Required)

- You can check reports!

[code]

 ## Links

-

[2020-02-03 16:11] clockvoid commented on #657
@ry-itto
I created a new PR #708 to fix an issue due to my misunderstanding. Please check it.
I'm sorry to compound the problem. 🙇

[2020-02-03 20:36] clockvoid opened #709 "Level filter does not work correctly?"
**Overview (Required)**
I think FiltersTest does not pass correctly.
Because the data class Session has no member "forBeginners" but the test checks this parameter.
Additionally, data class has the member "intendedAudience", but the actual response doesn't have that.
SessionEntity's intendedAudience value is [always null](https://github.com/DroidKaigi/conference-app-2020/blob/master/data/db/src/ma

[2020-02-03 21:18] clockvoid commented on #614
I face the same problem. I tried `./gradlew :model testDebugUnitTest`, but the tests in model's jvmTest did not run.
I tried to rename jvmTest to androidTest and set it up to `model/build.gradle`, then they run but failing because of #709 .

[2020-02-03 23:53] nashcft commented on #594
This issue is blocked by #614.

[2020-02-04 01:13] takahirom commented on #709
Probably we should implement audience level🙏

[2020-02-04 01:16] KaoruMuta opened #710 "Failed to build iOS App"
Hello, I would like you to tell me why I failed to build iOS App. The details are as follows. I know that you are busy, so I am sorry for your inconvenience.

**Overview (Required)**
- Failed to build iOS App like the issue (#514)

**Steps To Reproduce**
1. Clone this repository
2. Move to the directory named `ios-base` and run the command `make init && open DroidKaigi\ 2020.xcworkspace`
3. Build

[2020-02-04 01:17] takahirom commented on #710
Can you check JDK version?
java -version
🙏

[2020-02-04 01:20] KaoruMuta commented on #710
Thanks for swift reply! Run the command `java -version` in the terminal and the result is as follows.
[code]

[2020-02-04 01:22] takahirom commented on #710
If you Android Studio installed. Please this
export JAVA_HOME=/Applications/Android\ Studio.app/Contents/jre/jdk/Contents/Home
Or please install JDK 8 and use that JAVA_HOME

[2020-02-04 01:45] KaoruMuta commented on #710
I've already installed Android Studio 3.5.1.
I try to run the command `export JAVA_HOME=/Applications/Android\ Studio.app/Contents/jre/jdk/Contents/Home`.
In addition, I try to install JDK8 `brew cask install adoptopenjdk8` and set Java8 by running this command `export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)`
But still fail to build.

[2020-02-04 02:00] takahirom commented on #710
Can you run this?
./gradlew :android-base:assembleDebug
If this success, Xcode can not look JAVA_HOME

[2020-02-04 02:09] KaoruMuta commented on #710
I tried this, and the result is as follows. (not successfully..)
[code]

[2020-02-04 02:15] takahirom commented on #710
Please tell me stacktrace 🙏
./gradlew :android-base:assembleDebug --stacktrace

[2020-02-04 02:25] KaoruMuta commented on #710
Sure.
I'm just starting job from now, so after this, I tell you stacktrace.

Regards.

[2020-02-04 04:39] ry-itto commented on #710
@KaoruMuta
Can you try this with `Android Studio 3.6`?

[2020-02-04 05:31] clockvoid commented on #709
@takahirom
Thank you for your replying.
I want to implement it.
I will implement it like 2019 version app to pass the FiltersTest.

[2020-02-04 05:31] takahirom commented on #709
Thanks! Assigned!🙏

[2020-02-04 05:33] takahirom commented on #709
I think we should have list. Not forBeginer field.
forBeginnerのようなフィールドではなく、レベルをリストで持ってるような構造にする必要がありそうです🙏

[2020-02-04 06:05] clockvoid commented on #709
I see.
すみません、日本語で失礼します。
レスポンスを見るとリストで持っていますね...
3つ要素があるようですが、アプリのフィルターは2つしか持ってないです。これ3つめは何なんですかね...？

[2020-02-04 06:07] takahirom commented on #709
初心者向け、中級者、上級者だった気がします🙏

[2020-02-04 06:08] clockvoid commented on #709
理解です。
多分これアプリ側のフィルターとしても全部必要かと思いますので、そこも含めてやっちゃいます

[2020-02-04 06:08] takahirom commented on #709
あってます。ありがとうございます😂

[2020-02-04 08:34] mkeeda commented on #429
When does the app show outlined button?
1. When user has never tap thumbs-up button of the session.
2. When thumbs-up count is zero
<img width="140" alt="スクリーンショット 2020-02-04 17 26 25" src="https://user-images.githubusercontent.com/12047582/73726816-8c5df380-4773-11ea-9083-da5ea2ca10e2.png">

Now the app show contained button if thumbs-up count is zero.
<img width="131" alt="スクリーンショット 2020-02-04 1